@mixin setup-dark-alert {
  $--alert-border-color: (
    'default': $--n-divider-overlay-color,
    'success': change-color($--n-success-hs-color, $alpha: .35),
    'info': change-color($--n-info-hs-color, $alpha: .35),
    'warning': change-color($--n-warning-hs-color, $alpha: .35),
    'error': change-color($--n-error-hs-color, $alpha: .35)
  ) !global;
  $--alert-background-color: (
    'default': $--n-input-overlay-background-color,
    'success': change-color($--n-success-hs-color, $alpha: .25),
    'info': change-color($--n-info-hs-color, $alpha: .25),
    'warning': change-color($--n-warning-hs-color, $alpha: .25),
    'error': change-color($--n-error-hs-color, $alpha: .25)
  ) !global;
  $--alert-title-text-color: (
    'default': $--n-primary-text-color,
    'success': $--n-primary-text-color,
    'info': $--n-primary-text-color,
    'warning': $--n-primary-text-color,
    'error': $--n-primary-text-color
  ) !global;
  $--alert-icon-color: (
    'default': $--n-secondary-text-color,
    'success': $--n-success-hs-color,
    'info': $--n-info-hs-color,
    'warning': $--n-warning-hs-color,
    'error': $--n-error-hs-color
  ) !global;
  $--alert-content-text-color: (
    'default': $--n-secondary-text-color,
    'success': $--n-secondary-text-color,
    'info': $--n-secondary-text-color,
    'warning': $--n-secondary-text-color,
    'error': $--n-secondary-text-color
  ) !global;
  $--alert-close-color: (
    'default': $--n-close-overlay-color,
    'hover': $--n-close-hover-overlay-color,
    'active': $--n-close-overlay-color
  ) !global;
}