@mixin setup-dark-card {
  $--card-background-color: $--n-card-background-color !global;
  $--card-text-color: $--n-secondary-text-color !global;
  $--card-title-text-color: $--n-primary-text-color !global;
  $--card-border-color: $--n-divider-color !global;
  $--card-action-background-color: $--n-action-overlay-background-color !global;
  $--card-close-color: (
    'default': $--n-close-color,
    'hover': $--n-close-hover-color,
    'active': $--n-close-color
  ) !global;
}