@import '../../../utils/color.scss';

@mixin setup-dark-data-table {
  $--data-table-border-color: (
    'default': composite-color($--n-card-background-color, $--n-divider-overlay-color),
    'modal': composite-color($--n-modal-background-color, $--n-divider-overlay-color),
  ) !global;
  $--data-table-header-text-color: $--n-primary-text-color !global;
  $--data-table-fixed-column-box-shadow-color: rgba(0, 0, 0, .36) !global;
  $--data-table-body-background-color: (
    'default': $--n-card-background-color,
    'modal': $--n-modal-background-color
  ) !global;
  $--data-table-header-background-color: (
    'default': composite-color($--n-card-background-color, $--n-table-header-overlay-background-color),
    'hover': composite-color(
      composite-color($--n-card-background-color, $--n-table-header-overlay-background-color),
      $--n-table-pending-overlay-color
    ),
    'modal': composite-color($--n-modal-background-color, $--n-table-header-overlay-background-color),
    'modal-hover': composite-color(
      composite-color($--n-modal-background-color, $--n-table-header-overlay-background-color),
      $--n-table-pending-overlay-color
    )
  ) !global;
  $--data-table-icon-button-background-color: (
    'hover': $--n-table-pending-overlay-color
  ) !global;
  $--data-table-row-background-color: (
    'hover': composite-color($--n-card-background-color, $--n-table-pending-overlay-color),
    'modal-hover': composite-color($--n-modal-background-color, $--n-table-pending-overlay-color),
  ) !global;
  $--data-table-body-text-color: $--n-secondary-text-color !global;
  $--data-table-button-color: (
    'default': $--n-icon-color,
    'active': $--n-primary-color
  ) !global;
}
