@mixin setup-dark-dropdown {
  $--dropdown-item-suffix-fill: $--n-secondary-text-overlay-color !global;
  $--dropdown-item-text-color: (
    'hover': $--n-primary-color,
    'selected': $--n-primary-color
  ) !global;
  $--dropdown-item-background-color: (
    'selected': change-color($--n-primary-color, $alpha: .15)
  ) !global
}