@mixin setup-dark-empty {
  $--empty-text-color: $--n-disabled-text-overlay-color !global;
  $--empty-icon-color: $--n-icon-overlay-color !global;
  $--empty-extra-text-color: $--n-secondary-text-overlay-color !global;
}