@mixin setup-dark-list {
  $--list-text-color: $--n-secondary-text-overlay-color !global;
  $--list-background-color: (
    'default': $--n-card-background-color,
    'modal': $--n-modal-background-color
  ) !global;
  $--list-border-color: $--n-divider-overlay-color !global;
}