@mixin setup-dark-popover {
  $--popover-background-color: $--n-popover-background-color !global;
  $--popover-text-color: $--n-secondary-text-color !global;
  $--popover-box-shadow: $--n-popover-box-shadow !global;
}