@mixin setup-dark-tag {
  $--tag-text-color: (
    'checkable-default': $--n-secondary-text-color,
    'checkable-hover': $--n-primary-color,
    'checkable-active': $--n-base-background-color,
    'default': $--n-secondary-text-color,
    'default-disabled': $--n-disabled-text-color,
    'success': $--n-success-color,
    'success-disabled': change-color($--n-success-color, $alpha: .3),
    'warning': $--n-warning-color,
    'warning-disabled': change-color($--n-warning-color, $alpha: .3),
    'info': $--n-info-color,
    'info-disabled': change-color($--n-info-color, $alpha: .3),
    'error': $--n-error-color,
    'error-disabled': change-color($--n-error-color, $alpha: .3),
  ) !global;
  $--tag-background-color: (
    'checkable-default': transparent,
    'checkable-hover': transparent,
    'checkable-active': $--n-primary-color,
    'checkable-checked-hover': $--n-primary-hover-color,
    'checkable-checked-active': $--n-primary-active-color,
    'default': transparent,
    'default-hover': $--n-pending-overlay-color,
    'default-active': $--n-pending-overlay-color,
    'default-disabled': $--n-disabled-background-color,
    'success': transparent,
    'success-hover': change-color($--n-success-color, $alpha: $--n-pending-opacity),
    'success-active': change-color($--n-success-color, $alpha: $--n-pending-opacity),
    'success-disabled': change-color($--n-success-color, $alpha: $--n-disabled-fill-opacity),
    'warning': transparent,
    'warning-hover': change-color($--n-warning-color, $alpha: $--n-pending-opacity),
    'warning-active': change-color($--n-warning-color, $alpha: $--n-pending-opacity),
    'warning-disabled': change-color($--n-warning-color, $alpha: $--n-disabled-fill-opacity),
    'info': transparent,
    'info-hover': change-color($--n-info-color, $alpha: $--n-pending-opacity),
    'info-active': change-color($--n-info-color, $alpha: $--n-pending-opacity),
    'info-disabled': change-color($--n-info-color, $alpha: $--n-disabled-fill-opacity),
    'error': transparent,
    'error-hover': change-color($--n-error-color, $alpha: $--n-pending-opacity),
    'error-active': change-color($--n-error-color, $alpha: $--n-pending-opacity),
    'error-disabled': change-color($--n-error-color, $alpha: $--n-disabled-fill-opacity)
  ) !global;
  $--tag-border-color: (
    'default': $--n-border-overlay-color,
    'default-hover': $--n-border-overlay-color,
    'default-active': $--n-border-overlay-color,
    'default-disabled': $--n-border-overlay-color,
    'success': change-color($--n-success-color, $alpha: $--n-tertiary-opacity),
    'success-hover': change-color($--n-success-color, $alpha: $--n-tertiary-opacity),
    'success-active': change-color($--n-success-color, $alpha: $--n-tertiary-opacity),
    'success-disabled': change-color($--n-success-color, $alpha: $--n-disabled-opacity * $--n-tertiary-opacity),
    'warning': change-color($--n-warning-color, $alpha: $--n-tertiary-opacity),
    'warning-hover': change-color($--n-warning-color, $alpha: $--n-tertiary-opacity),
    'warning-active': change-color($--n-warning-color, $alpha: $--n-tertiary-opacity),
    'warning-disabled': change-color($--n-warning-color, $alpha: $--n-disabled-opacity * $--n-tertiary-opacity),
    'info': change-color($--n-info-color, $alpha: $--n-tertiary-opacity),
    'info-hover': change-color($--n-info-color, $alpha: $--n-tertiary-opacity),
    'info-active': change-color($--n-info-color, $alpha: $--n-tertiary-opacity),
    'info-disabled': change-color($--n-info-color, $alpha: $--n-disabled-opacity * $--n-tertiary-opacity),
    'error': change-color($--n-error-color, $alpha: $--n-tertiary-opacity),
    'error-hover': change-color($--n-error-color, $alpha: $--n-tertiary-opacity),
    'error-active': change-color($--n-error-color, $alpha: $--n-tertiary-opacity),
    'error-disabled': change-color($--n-error-color, $alpha: $--n-disabled-opacity * $--n-tertiary-opacity)
  ) !global;
  $--tag-close-color: (
    'default': $--n-close-overlay-color,
    'default-hover': $--n-close-overlay-color,
    'default-active': $--n-close-overlay-color,
    'default-disabled': change-color($--n-close-overlay-color, $alpha: $--n-tertiary-opacity * $--n-tertiary-opacity),
    'success': change-color($--n-success-color, $alpha: $--n-tertiary-opacity),
    'success-hover': change-color($--n-success-color, $alpha: .8),
    'success-active': change-color($--n-success-color, $alpha: .6),
    'success-disabled': change-color($--n-success-color, $alpha: $--n-tertiary-opacity * $--n-tertiary-opacity),
    'warning': change-color($--n-warning-color, $alpha: $--n-tertiary-opacity),
    'warning-hover': change-color($--n-warning-color, $alpha: .8),
    'warning-active': change-color($--n-warning-color, $alpha: .6),
    'warning-disabled': change-color($--n-warning-color, $alpha: $--n-tertiary-opacity * $--n-tertiary-opacity),
    'info': change-color($--n-info-color, $alpha: $--n-tertiary-opacity),
    'info-hover': change-color($--n-info-color, $alpha: .8),
    'info-active': change-color($--n-info-color, $alpha: .6),
    'info-disabled': change-color($--n-info-color, $alpha: $--n-tertiary-opacity * $--n-tertiary-opacity),
    'error': change-color($--n-error-color, $alpha: $--n-tertiary-opacity),
    'error-hover': change-color($--n-error-color, $alpha: .8),
    'error-active': change-color($--n-error-color, $alpha: .6),
    'error-disabled': change-color($--n-error-color, $alpha: $--n-tertiary-opacity * $--n-tertiary-opacity)
  ) !global;
}