@mixin setup-dark-time-picker {
  $--time-picker-background-color: $--n-popover-background-color !global;
  $--time-picker-text-color: (
    'default': $--n-secondary-text-overlay-color,
    'active': $--n-primary-color
  ) !global;
  $--time-picker-text-decoration-color: (
    'default': $--n-secondary-text-overlay-color,
    'active': $--n-primary-color
  ) !global;
  $--time-picker-item-background-color: (
    'hover': $--n-pending-overlay-color
  ) !global;
  $--time-picker-divider-color: $--n-divider-overlay-color !global;
  $--time-picker-box-shadow: $--n-popmenu-box-shadow !global;
  $--time-picker-item-disabled-opacity: $--n-disabled-opacity !global;
}