@mixin setup-dark-tooltip {
  $--tooltip-background-color: $--n-popover-background-color !global;
  $--tooltip-text-color: $--n-secondary-text-overlay-color !global;
  $--tooltip-box-shadow: $--n-popover-box-shadow !global;
}