@mixin setup-dark-typography {
  $--typography-header-text-color: (
    'default': $--n-primary-text-color
  ) !global;
  $--typography-header-prefix-color: (
    'default': $--n-primary-color,
    'primary': $--n-primary-color,
    'error': $--n-error-color,
    'warning': $--n-warning-color,
    'success': $--n-success-color
  ) !global;
  $--typography-p-text-color: (
    'default': $--n-secondary-text-color,
    'primary-depth': $--n-primary-text-color,
    'secondary-depth': $--n-secondary-text-color,
    'tertiary-depth': $--n-tertiary-text-color
  ) !global;
  $--typography-li-text-color: (
    'default': $--n-secondary-text-color
  ) !global;
  $--typography-a-text-color: (
    'default': $--n-primary-color
  ) !global;
  $--typography-hr-border-color: (
    'default': $--n-divider-color
  ) !global;
  $--typography-blockquote-text-color: (
    'default': $--n-secondary-text-color
  ) !global;
  $--typography-blockquote-prefix-color: (
    'default': $--n-border-color
  ) !global;
  $--typography-text-text-color: (
    'default': $--n-secondary-text-color,
    'strong': $--n-primary-text-color,
    'primary-depth': $--n-primary-text-color,
    'secondary-depth': $--n-secondary-text-color,
    'tertiary-depth': $--n-tertiary-text-color,
    'primary': $--n-primary-color,
    'success': $--n-success-color,
    'warning': $--n-warning-color,
    'error': $--n-error-color,
    'info': $--n-info-color
  ) !global;
  $--typography-text-opacity: (
    'primary-depth': $--n-primary-opacity,
    'secondary-depth': $--n-secondary-opacity,
    'tertiary-depth': $--n-tertiary-opacity,
  ) !global;
  $--typography-code-text-color: (
    'default': $--n-secondary-text-color
  ) !global;
  $--typography-code-background-color: $--n-code-overlay-background-color !global;
  $--typography-code-border-color: transparent !global;
}