@mixin setup-dark-data-table {
  $--table-header-icon-color: $--primary-6 !global;
  $--table-scrollbar-color: rgba(255, 255, 255, 0.2) !global;
  $--table-loading-background: rgba(0, 0, 0, 0.15) !global;
}
