@mixin setup-dark-alert {
  $--alert-border-color: (
    'default': rgba(255, 255, 255, .15),
    'success': change-color($--success-hs, $alpha: .3),
    'info': change-color($--info-hs, $alpha: .3),
    'warning': change-color($--warning-hs, $alpha: .3),
    'error': change-color($--error-hs, $alpha: .3)
  ) !global;
  $--alert-background-color: (
    'default': $--overlay-action,
    'success': change-color($--success-hs, $alpha: .2),
    'info': change-color($--info-hs, $alpha: .2),
    'warning': change-color($--warning-hs, $alpha: .2),
    'error': change-color($--error-hs, $alpha: .2)
  ) !global;
  $--alert-title-text-color: (
    'default': $--n-primary-text-color,
    'success': $--n-primary-text-color,
    'info': $--n-primary-text-color,
    'warning': $--n-primary-text-color,
    'error': $--n-primary-text-color
  ) !global;
  $--alert-icon-color: (
    'default': $--n-secondary-text-color,
    'success': $--success-hs,
    'info': $--info-hs,
    'warning': $--warning-hs,
    'error': $--error-hs
  ) !global;
  $--alert-content-text-color: (
    'default': $--n-secondary-text-color,
    'success': $--n-secondary-text-color,
    'info': $--n-secondary-text-color,
    'warning': $--n-secondary-text-color,
    'error': $--n-secondary-text-color
  ) !global;
  $--alert-close-color: $--n-close-color !global;
}