@mixin setup-dark-base-picker {
  $--base-picker-color: $--n-secondary-text-color !global;
  $--base-picker-background-color: (
    "default": rgba(255, 255, 255, .12),
    "disabled": rgba(255, 255, 255, .08),
    "active": change-color($primary-6, $alpha: 0.1)
  ) !global;
  $--base-picker-placeholder-color: (
    "default": rgba(255, 255, 255, .4),
    "disabled": rgba(255, 255, 255, .2)
  ) !global;
  $--base-picker-box-shadow: (
    "default": none,
    "hover": 0 0 0 1px $primary-6,
    "active": (0 0 0 1px $primary-6, 0 0 12px 0px change-color($primary-6, $alpha: .3)),
    "focus": 0 0 0 1px $primary-6,
    "disabled": none
  ) !global;
  $--base-picker-caret-color: $--n-primary-color !global; 
}