@mixin setup-dark-base-select-menu {
  $--base-select-menu-option-color: (
    "default": $--n-secondary-text-color,
    "selected": $--n-primary-color,
    "active": $--n-primary-color,
    "disabled": $--n-disabled-text-color,
    "disabled-selected": change-color($--n-primary-color, $alpha: $--n-disabled-opacity)
  ) !global;
  $--base-select-menu-option-check-mark-color: $--n-primary-color !global;
  $--base-select-menu-background-color: $--n-popover-background-color !global;
  $--base-select-menu-box-shadow: $--n-popmenu-box-shadow !global;
  $--base-select-menu-light-bar-background-color: change-color($--n-primary-color, $alpha: .15) !global;
}