@mixin setup-dark-cascader {
  $--cascader-menu-background-color: $--n-dialog-color !global;
  $--cascader-option-text-color: (
    'default': $--n-secondary-text-color,
    'active': $--n-primary-color,
    'disabled': $--n-disabled-text-color,
    'disabled-active': change-color($--n-primary-color, $alpha: .4)
  ) !global;
  $--cascader-menu-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.18) !global;
  $--cascader-menu-border-color: rgba(255, 255, 255, 0.1) !global;
  $--cascader-menu-lightbar-background-color: mix($--primary-6, $--n-dialog-color, 20%) !global;
  $--cascader-option-arrow-background-color: rgba(255, 255, 255, 0.3) !global;
  $--cascader-menu-mask-background-color: change-color($--n-dialog-color, $alpha: .75) !global;
  $--cascader-menu-mask-text-color: $--n-secondary-text-color !global;
}