@mixin setup-dark-cascader {
  $--cascader-menu-background-color: $--n-modal-background-color !global;
  $--cascader-option-text-color: (
    'default': $--n-secondary-text-color,
    'active': $--n-primary-color,
    'disabled': $--n-disabled-text-color,
    'disabled-active': change-color($--n-primary-color, $alpha: $--n-disabled-opacity)
  ) !global;
  $--cascader-menu-box-shadow: $--n-popover-box-shadow !global;
  $--cascader-menu-border-color: $--n-divider-color !global;
  $--cascader-menu-lightbar-background-color: mix($--n-primary-color, $--n-modal-background-color, 15%) !global;
  $--cascader-option-arrow-background-color: $--n-icon-color !global;
  $--cascader-item-check-mark-color: $--n-primary-color !global;
}