@mixin setup-dark-checkbox {
  $--checkbox-background-color: (
    'default': transparent,
    'disabled': $--n-disabled-background-color
  ) !global;
  $--checkbox-icon-color: (
    'default': $--n-card-background-color,
    'disabled': $--n-disabled-text-color
  ) !global;
  $--checkbox-border-color: (
    'default': $--n-border-color,
    'disabled': $--n-border-color,
    'active': $--n-primary-color
  ) !global;
  $--checkbox-label-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
}