@mixin setup-dark-collapse {
  $--collapse-border-color: $--n-border-color !global;
  $--collapse-header-text-color: $--n-text-color !global;
  $--collapse-content-text-color: $--n-secondary-text-color !global;
}