@mixin setup-dark-collapse {
  $--collapse-border-color: $--n-divider-color !global;
  $--collapse-header-text-color: $--n-primary-text-color !global;
  $--collapse-content-text-color: $--n-secondary-text-color !global;
}