@mixin setup-dark-dropdown {
  $--dropdown-item-suffix-fill: $--n-secondary-text-color !global;
  $--dropdown-item-text-color: (
    'hover': $--primary-6,
    'selected': $--primary-6
  ) !global;
  $--dropdown-item-background-color: (
    'selected': change-color($--primary-6, $alpha: .15)
  ) !global
}