@mixin setup-dark-input-number {
  $--input-number-border-color: (
    'default': transparent,
    'hover': $--n-primary-color,
    'focus': $--n-primary-color,
    'error': $--n-error-color
  )!global;
  $--input-number-text-decoration-color: $--n-secondary-text-color !global;
  $--input-number-placeholder-color: (
    'default': rgba(255, 255, 255, .3),
    'disabled': rgba(255, 255, 255, .2)
  ) !global;
  $--input-number-background-color: (
    "default": rgba(255, 255, 255, .1),
    "disabled": rgba(255, 255, 255, .06),
    "focus": change-color($--n-primary-color, $alpha: 0.1),
    "error-focus": change-color($--n-error-color, $alpha: 0.1)
  ) !global;
  $--input-number-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
  $--input-number-button-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color,
    'hover': $--n-primary-color
  ) !global;
  $--input-number-button-background-color: (
    'default': rgba(255, 255, 255, .06),
    'disabled': rgba(255, 255, 255, .04)
  ) !global;
  $--input-number-caret-color: $--n-primary-color !global;
  $--input-number-disabled-opacity: 1 !global;
  $--input-number-box-shadow: (
    'default': inset 0 0 0 0 transparent,
    'hover': inset 0 0 0px 1px $--n-primary-color,
    'focus': (inset 0 0 0px 1px $--n-primary-color, 0 0 8px 0px change-color($--n-primary-color, $alpha: .3)),
    'error-default': inset 0 0 0 1px $--n-error-color,
    'error-hover': inset 0 0 0px 1px $--n-error-color,
    'error-focus': (inset 0 0 0px 1px $--n-error-color, 0 0 8px 0px change-color($--n-primary-color, $alpha: .3)),
    "disabled": inset 0 0 0 1px transparent
  ) !global;
}