@mixin setup-dark-input {
  $--input-color: (
    'default': $--n-secondary-text-color,
    'disabled': rgba(255, 255, 255, .2)
  ) !global;
  $--input-caret-color: $primary-6 !global;
  $--input-placeholder-color: (
    'default': rgba(255, 255, 255, .3),
    'disabled': rgba(255, 255, 255, .2)
  ) !global;
  $--input-background-color: (
    "default": rgba(255, 255, 255, .1),
    "disabled": rgba(255, 255, 255, .06),
    "focus": change-color($primary-6, $alpha: 0.1)
  ) !global;
  $--input-icon-color: rgba(255, 255, 255, 0.2) !global;
  $--input-box-shadow: (
    'default': inset 0 0 0 0 transparent,
    'hover': inset 0 0 0px 1px $primary-6,
    'focus': (inset 0 0 0px 1px $primary-6, 0 0 8px 0px change-color($primary-6, $alpha: .3)),
    "disabled": inset 0 0 0 1px transparent
  ) !global;
}