@mixin setup-dark-log {
  $--log-text-color: $--n-secondary-text-color !global;
  $--log-loader-text-color: $--n-secondary-text-color !global;
  $--log-loader-background-color: $--n-input-background-color !global;
  $--log-loader-border-color: transparent !global;
}