@mixin setup-dark-menu {
  $menu-background-color: $--n-card-color !global;
  $menu-item-selected-background-image: linear-gradient(90deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .03) 40%, rgba(0, 0, 0, .09) 60%, rgba(0, 0, 0, .09) 100%) !global;
  $--menu-item-background-position: 0% !global;
}