@mixin setup-dark-menu {
  $--menu-item-background-image: linear-gradient(90deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .03) 40%, rgba(0, 0, 0, .04) 60%, rgba(0, 0, 0, .04) 100%) !global;
  $--menu-item-background-position: 0% !global;
  $--menu-item-group-text-color: $--n-meta-text-color !global;
  $--menu-item-text-color: $--n-secondary-text-color !global;
  $--menu-sub-menu-text-color: $--n-text-color !global;
  $--menu-sub-menu-arrow-color: $--n-primary-color !global;
  $--menu-item-background-color: change-color($--primary-6, $alpha: .15) !global;
}