@mixin setup-dark-message {
  $--message-text-color: white !global;
  $--message-icon-color: rgba(255, 255, 255, .5) !global;
  $--message-background-color: (
    "info": rgb(56, 137, 197),
    "success": rgb(42, 148, 125),
    "error": rgb(208, 58, 82),
    "warning": rgb(240, 138, 0)
  ) !global;
  $--message-box-shadow: (
    "info": 0 2px 15px 0 rgba(56, 137, 197, .5),
    "success": 0 2px 15px 0 rgba(42, 148, 125, .5),
    "error": 0 2px 15px 0 rgba(208, 58, 82, .5),
    "warning": 0 2px 15px 0 rgba(240, 138, 0, .5)
  ) !global;
}