@mixin setup-dark-nimbus-service-layout {
  $service-layout-drawer-background-color: $--n-card-color !global;
  $service-layout-body-background-color: $--n-background-color !global;
  $service-layout-nav-background-color: $--n-card-color !global;
  $service-layout-color: $--n-secondary-text-color !global;
  $service-layout-border-color: $--n-divider-color !global;
  $service-layout-toggle-button-color: rgba(255, 255, 255, .3)!global;
  $service-layout-item-background-image: linear-gradient(47deg,rgba(232,232,235,.4) 0%,rgba(31,38,62,.4) 100%) !global;
  $--service-kayout-item-active-color: $primary-6 !global;
}