@mixin setup-dark-notification {
  $--notification-avatar-fill: (
    'default': $--n-secondary-text-color,
    'success': $--n-success-color,
    'info': $--n-info-color,
    'warning': $--n-warning-color,
    'error': $--n-error-color
  ) !global;
  $--notification-background-color: $--n-popover-background-color !global;
  $--notification-text-color: $--n-secondary-text-color !global;
  $--notification-close-fill: $--n-close-color !global;
  $--notification-header-text-color: $--n-primary-text-color !global;
  $--notification-content-text-color: $--n-secondary-text-color !global;
  $--notification-description-text-color: $--n-tertiary-text-color  !global;
  $--notification-action-text-color: $--n-secondary-text-color !global;
}
