@mixin setup-dark-radio {
  $--radio-box-shadow: (
    'default': inset 0 0 0 1px $--n-border-color,
    'active': inset 0 0 0 1px $--n-primary-color,
    'focus': (inset 0 0 0 1px $--n-primary-color, 0 0 0 2px change-color($--n-primary-color, $alpha: .3)),
    'hover': inset 0 0 0 1px $--n-primary-color,
    'disabled': inset 0 0 0 1px $--n-border-color
  ) !global;
  $--radio-label-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
  $--radio-background-color: (
    'default': transparent,
    'disabled': $--n-disabled-background-color
  ) !global;
  $--radio-control-background-color: (
    'active': $--n-primary-color,
    'disabled': $--n-border-color
  ) !global;
  $--radio-button-border-color: (
    'default': $--n-border-color,
    'active': $--n-primary-color,
    'hover': $--n-primary-color
  ) !global;
  $--radio-button-background-color: (
    'default': transparent,
    'active': $--n-primary-color,
  ) !global;
  $--radio-button-label-color: (
    'default': $--n-secondary-text-color,
    'active':$--n-card-background-color,
    'hover': $--n-primary-color
  ) !global;
  $--radio-disabled-opacity: $--n-disabled-opacity !global;
  $--radio-border-mask-width: 1px !global;
  $--radio-button-box-shadow: (
    'focus': (inset 0 0 0 1px $--n-primary-color, 0 0 0 2px change-color($--n-primary-color, $alpha: .3)),
    'hover': inset 0 0 0 $--radio-border-mask-width $--n-primary-color
  ) !global;
}