@mixin setup-dark-slider {
  $--slider-rail-background-color: (
    'default': rgba(255, 255, 255, .2),
    'hover': rgba(255, 255, 255, .3)
  ) !global;
  $--slider-rail-fill-background-color: (
    'default': #49A586,
    'hover': $--n-primary-color
  ) !global;
  $--slider-handle-background-color: black !global;
  $--slider-handle-box-shadow: (
    'default': inset 0 0 0 2px #49A586,
    'hover': inset 0 0 0 2px $--n-primary-color,
    'active': (inset 0 0 0 2px $--n-primary-color, 0 0 0 3px change-color($--n-primary-color, $alpha: .2)),
    'focus': (inset 0 0 0 2px $--n-primary-color, 0 0 0 3px change-color($--n-primary-color, $alpha: .2))
  ) !global;
  $--slider-indicator-background-color: $--neutral-card !global;
  $--slider-indicator-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.18) !global;
  $--slider-indicator-color: $--n-secondary-text-color !global;
  $--slider-dot-box-shadow: (
    'default': inset 0 0 0 2px #49A586,
    'active': inset 0 0 0 2px $--n-primary-color
  ) !global;
}