@mixin setup-dark-slider {
  $slider-default-fill-color: mix($--n-primary-color, $--n-card-background-color, 70%);
  $--slider-rail-background-color: (
    'default': $--n-rail-color,
    'hover': change-color($--n-rail-color, $alpha: alpha($--n-rail-color) * 1.5)
  ) !global;
  $--slider-rail-fill-background-color: (
    'default': $slider-default-fill-color,
    'hover': $--n-primary-color
  ) !global;
  $--slider-handle-background-color: $--n-body-background-color !global;
  $--slider-handle-box-shadow: (
    'default': inset 0 0 0 2px  $slider-default-fill-color,
    'hover': inset 0 0 0 2px $--n-primary-color,
    'active': (inset 0 0 0 2px $--n-primary-color, 0 0 0 3px change-color($--n-primary-color, $alpha: .2)),
    'focus': (inset 0 0 0 2px $--n-primary-color, 0 0 0 3px change-color($--n-primary-color, $alpha: .2))
  ) !global;
  $--slider-indicator-background-color: $--n-popover-background-color !global;
  $--slider-indicator-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.18) !global;
  $--slider-indicator-text-color: $--n-secondary-text-color !global;
  $--slider-dot-box-shadow: (
    'default': inset 0 0 0 2px $slider-default-fill-color,
    'active': inset 0 0 0 2px $--n-primary-color
  ) !global;
}