@mixin setup-dark-table {
  $--table-header-background: #2b3147 !global;
  $--table-body-background: #1f263e !global;
  $--table-header-color: $neutral-3 !global;
  $--table-body-color: $neutral-4 !global;
  $--table-row-hover: $--table-header-background !global;
  $--table-box-shadow: 0 3px 20px 6px rgba(0, 0, 0, .2) !global;
  $--table-border: none;
  //TODO:ui设计深色color
  $--table-td-border-right: none !global;
}