@mixin setup-dark-tabs {
  $--tabs-tab-text-color: (
    'default': $--n-secondary-text-color,
    'active': $--n-primary-color,
    'hover': $--n-primary-color,
    'disabled': $--n-disabled-text-color,
  ) !global;
  $--tabs-tab-bar-background-color: $--n-primary-color !global;
  $--tabs-tab-scroll-button-color: (
    'default': rgba(255, 255, 255, .3),
    'disabled': rgba(255, 255, 255, .2)
  ) !global;
  $--tabs-tab-close-button-color: (
    'default': $--n-close-color
  ) !global;
  $--tabs-card-tab-background-color: $--n-table-header-color !global;
  $--tabs-card-tab-panel-background-color: $--n-card-color !global;
  $--tabs-card-tab-border-color: transparent !global;
  $--tabs-card-tab-border-width: 0px !global;
  $--tabs-card-tab-text-color: $--n-secondary-text-color !global;
  $--tabs-card-label-divider-color: rgba(255, 255, 255, .3) !global;
}