@mixin setup-dark-tag {
  $--tag-color: (
    'default': $--primary-6,
    'default-disabled': change-color($--primary-6, $alpha: .3),
    'success': $--success-6,
    'success-disabled': change-color($--success-6, $alpha: .3),
    'warning': $--warning-6,
    'warning-disabled': change-color($--warning-6, $alpha: .3),
    'info': $--info-6,
    'info-disabled': change-color($--info-6, $alpha: .3),
    'error': $--error-6,
    'error-disabled': change-color($--error-6, $alpha: .3),
  ) !global;
  $--tag-background-color: (
    'default': transparent,
    'default-hover': change-color($--primary-6, $alpha: .2),
    'default-active': change-color($--primary-6, $alpha: .2),
    'default-disabled': transparent,
    'success': transparent,
    'success-hover': change-color($--success-6, $alpha: .2),
    'success-active': change-color($--success-6, $alpha: .2),
    'success-disabled': transparent,
    'warning': transparent,
    'warning-hover': change-color($--warning-6, $alpha: .2),
    'warning-active': change-color($--warning-6, $alpha: .2),
    'warning-disabled': transparent,
    'info': transparent,
    'info-hover': change-color($--info-6, $alpha: .2),
    'info-active': change-color($--info-6, $alpha: .2),
    'info-disabled': transparent,
    'error': transparent,
    'error-hover': change-color($--error-6, $alpha: .2),
    'error-active': change-color($--error-6, $alpha: .2),
    'error-disabled': transparent,
  ) !global;
  $--tag-border-color: (
    'default': $--primary-6,
    'default-hover': $--primary-6,
    'default-active': $--primary-6,
    'success': $--success-6,
    'success-hover': $--success-6,
    'success-active': $--success-6,
    'warning': $--warning-6,
    'warning-hover': $--warning-6,
    'warning-active': $--warning-6,
    'info': $--info-6,
    'info-hover': $--info-6,
    'info-active': $--info-6,
    'error': $--error-6,
    'error-hover': $--error-6,
    'error-active': $--error-6,
  ) !global;
  $--tag-close-mark-color: (
    'default': change-color($--primary-6, $alpha: .5),
    'default-hover': change-color($--primary-6, $alpha: 1),
    'default-active': change-color($--primary-6, $alpha: .75),
    'default-disabled': change-color($--primary-6, $alpha: .25),
    'success': change-color($--success-6, $alpha: .5),
    'success-hover': change-color($--success-6, $alpha: 1),
    'success-active': change-color($--success-6, $alpha: .75),
    'success-disabled': change-color($--success-6, $alpha: .25),
    'warning': change-color($--warning-6, $alpha: .5),
    'warning-hover': change-color($--warning-6, $alpha: 1),
    'warning-active': change-color($--warning-6, $alpha: .75),
    'warning-disabled': change-color($--warning-6, $alpha: .25),
    'info': change-color($--info-6, $alpha: .5),
    'info-hover': change-color($--info-6, $alpha: 1),
    'info-active': change-color($--info-6, $alpha: .75),
    'info-disabled': change-color($--info-6, $alpha: .25),
    'error': change-color($--error-6, $alpha: .5),
    'error-hover': change-color($--error-6, $alpha: 1),
    'error-active': change-color($--error-6, $alpha: .75),
    'error-disabled': change-color($--error-6, $alpha: .25),
  ) !global;
}