@mixin setup-dark-time-picker {
  $--time-picker-background-color: $--n-popover-color !global;
  $--time-picker-text-color: (
    'default': $--n-secondary-text-color,
    'active': $--n-primary-color,
    'invalid': $--error-6
  ) !global;
  $--time-picker-item-background-color: (
    'hover': change-color($--n-primary-color, $alpha: .2),
    'invalid': change-color($--error-6, $alpha: .2)
  ) !global;
  $--time-picker-divider-color: rgba(255, 255, 255, .08) !global;
  $--time-picker-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.18) !global;
}