@mixin setup-dark-tooltip {
  $--tooltip-background-color: $--n-popover-color !global;
  $--tooltip-color: $--n-secondary-text-color !global;
  $--tooltip-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08) !global;
}