@mixin setup-dark-transfer {
  $--transfer-list-background-color: (
    'default': $--n-input-overlay-background-color
  ) !global;
  $--transfer-list-header-background-color: (
    'default': $--n-table-header-overlay-background-color
  ) !global;
  $--transfer-list-header-text-color: (
    'default': $--n-primary-text-color
  ) !global;
  $--transfer-list-header-extra-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
  $--transfer-gap-button-background-color: (
    'default': rgba(255, 255, 255, 0.3),
    'disabled': rgba(255, 255, 255, .15),
    'hover': $--n-primary-color,
    'active': $--n-primary-active-color
  ) !global;
  $--transfer-item-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
  $--transfer-filter-border-color: $--n-divider-color !global;
  $--transfer-border-color: transparent !global;
  $--transfer-list-border-mask-pointer-events: none !global;
}