@mixin setup-light-alert {
  $--alert-border-color: (
    'default': $--n-border-color,
    'success': mix($--success-default, rgb(255, 255, 255), 35%),
    'info': mix($--info-default, rgb(255, 255, 255), 35%),
    'warning': mix($--warning-default, rgb(255, 255, 255), 35%),
    'error': mix($--error-default, rgb(255, 255, 255), 35%),
  ) !global;
  $--alert-background-color: (
    'default': $--overlay-action,
    'success': mix($--success-default, rgb(255, 255, 255), 20%),
    'info': mix($--info-default, rgb(255, 255, 255), 20%),
    'warning': mix($--warning-default, rgb(255, 255, 255), 20%),
    'error': mix($--error-default, rgb(255, 255, 255), 20%)
  ) !global;
  $--alert-title-text-color: (
    'default': $--n-primary-text-color,
    'success': $--n-primary-text-color,
    'info': $--n-primary-text-color,
    'warning': $--n-primary-text-color,
    'error': $--n-primary-text-color
  ) !global;
  $--alert-icon-color: (
    'default': $--n-secondary-text-color,
    'success': $--success-default,
    'info': $--info-default,
    'warning': $--warning-default,
    'error': $--error-default
  ) !global;
  $--alert-content-text-color: (
    'default': $--n-secondary-text-color,
    'success': $--n-secondary-text-color,
    'info': $--n-secondary-text-color,
    'warning': $--n-secondary-text-color,
    'error': $--n-secondary-text-color,
  ) !global;
  $--alert-close-color: $--n-close-color !global;
}