@mixin setup-light-alert {
  $--alert-border-color: (
    'default': $--n-border-color,
    'success': mix($--success-6, rgb(255, 255, 255), 35%),
    'info': mix($--info-6, rgb(255, 255, 255), 35%),
    'warning': mix($--warning-6, rgb(255, 255, 255), 35%),
    'error': mix($--error-6, rgb(255, 255, 255), 35%),
  ) !global;
  $--alert-background-color: (
    'default': $--overlay-8,
    'success': mix($--success-6, rgb(255, 255, 255), 20%),
    'info': mix($--info-6, rgb(255, 255, 255), 20%),
    'warning': mix($--warning-6, rgb(255, 255, 255), 20%),
    'error': mix($--error-6, rgb(255, 255, 255), 20%)
  ) !global;
  $--alert-title-text-color: (
    'default': $--n-primary-text-color,
    'success': $--n-primary-text-color,
    'info': $--n-primary-text-color,
    'warning': $--n-primary-text-color,
    'error': $--n-primary-text-color
  ) !global;
  $--alert-icon-color: (
    'default': $--n-secondary-text-color,
    'success': $--success-6,
    'info': $--info-6,
    'warning': $--warning-6,
    'error': $--error-6
  ) !global;
  $--alert-content-text-color: (
    'default': $--n-secondary-text-color,
    'success': $--n-secondary-text-color,
    'info': $--n-secondary-text-color,
    'warning': $--n-secondary-text-color,
    'error': $--n-secondary-text-color,
  ) !global;
  $--alert-color-fill: $--n-close-color !global;
}