@mixin setup-light-anchor {
  $--anchor-rail-background-color: #d9d9d9 !global;
  $--anchor-link-title-text-color: (
    'default': $--n-text-color,
    'hover': $--n-primary-color,
    'active': $--n-primary-color
  ) !global;
  $--anchor-link-background-color: change-color($color: $--primary-6, $alpha: .2) !global;
}