@mixin setup-light-badge {
  $--badge-background-color: (
    "default": $--n-error-color,
    "info": $--n-info-color,
    "success": $--n-success-color,
    "warning": $--n-warning-color,
    "error": $--n-error-color 
  ) !global;
  $--badge-rippling-color: (
    "default": $--n-error-color,
    "info": $--n-info-color,
    "success": $--n-success-color,
    "warning": $--n-warning-color,
    "error": $--n-error-color
  ) !global; 
  $--badge-rippling-start-opacity: .4 !global;
}