@mixin setup-light-badge {
  $--badge-background-color: (
    "default": $--error-default,
    "info": $--info-default,
    "success": $--success-default,
    "warning": $--warning-default,
    "error": $--error-default 
  ) !global;
  $--badge-rippling-color: (
    "default": $--error-default,
    "info": $--info-default,
    "success": $--success-default,
    "warning": $--warning-default,
    "error": $--error-default
  ) !global; 
  $--badge-rippling-start-opacity: .4 !global;
}