@mixin setup-light-base-selection {
  $--base-selection-color: $--n-secondary-text-color !global;
  $--base-selection-background-color: (
    'default': rgb(255, 255, 255),
    'disabled': $--overlay-action,
    'active': rgb(255, 255, 255),
    'error-active': rgb(255, 255, 255)
  ) !global;
  $--base-selection-placeholder-color: (
    'default': $--n-disabled-text-color,
    'disabled': $--n-disabled-text-color,
  ) !global;
  $--base-selection-border-mask-border-color: (
    'default': transparent,
    'hover': $--n-primary-hover-color,
    'active': $--n-primary-hover-color,
    'focus': $--n-primary-hover-color,
    'disabled': transparent,
    'error-hover': $--error-hover,
    'error-active': $--error-hover,
    'error-focus': $--error-hover
  ) !global;
  $--base-selection-border-mask-box-shadow: (
    'focus': 0 0 0 2px change-color($--n-primary-hover-color, $alpha: .3),
    'error-focus': 0 0 0 2px change-color($--error-hover, $alpha: .3)
  ) !global;
  $--base-selection-box-shadow: (
    'default': inset 0 0 0 1px $--n-border-color,
    'disabled': inset 0 0 0 1px $--n-border-color,
    'error-default': inset 0 0 0 1px $--error-hover,
  ) !global;
  $--base-selection-caret-color: (
    'default': $--n-primary-color,
    'error': $--error-default
  ) !global; 
}