@mixin setup-light-checkbox {
  $--checkbox-font-color: $--neutral-3 !global;
  $--checkbox-border-color: $--neutral-5 !global;
  $--checkbox-border-color--active: $--primary-6 !global;
  $--checkbox-indeterminate-color: $--neutral-10 !global;
  $--checkbox-disabled: $--neutral-5 !global;
  $--checkbox-disabled-bg-color: $--neutral-8 !global;
  $--checkbox-icon-fill: white !global;
}