@mixin setup-light-checkbox {
  $--checkbox-font-color: $--n-secondary-text-color !global;
  $--checkbox-border-color: $--overlay-border !global;
  $--checkbox-border-color--active: $--n-primary-color !global;
  $--checkbox-indeterminate-color: $--neutral-card !global;
  $--checkbox-background-color: (
    'default': rgba(255, 255, 255, 1),
    'disabled': $--overlay-action
  ) !global;
  $--checkbox-disabled: $--text-4 !global;
  $--checkbox-icon-fill: white !global;
  $--checkbox-label-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
}