@mixin setup-light-confirm {
  $--confirm-title-color: $--n-text-color !global;
  $--confirm-color: $--n-secondary-text-color !global;
  $--confirm-background-color: white !global;
  $--confirm-border-color: white !global;
}