@mixin setup-light-confirm {
  $--confirm-title-text-color: $--n-primary-text-color !global;
  $--confirm-text-color: $--n-secondary-text-color !global;
  $--confirm-background-color: $--n-modal-color !global;
  $--confirm-close-color: $--n-close-color !global;
  $--confirm-icon-color: (
    'info': $--n-info-color,
    'success': $--n-success-color,
    'warning': $--n-warning-color,
    'error': $--n-error-color
  ) !global;
}