@mixin setup-light-confirm {
  $--confirm-title-color: $--n-primary-text-color !global;
  $--confirm-color: $--n-secondary-text-color !global;
  $--confirm-background-color: white !global;
  $--confirm-border-color: white !global;
  $--confirm-close-fill: $--n-close-color !global;
}