@mixin setup-light-date-picker {
  $--date-picker-background-color: white !global;
  $--date-picker-text-color: $--n-secondary-text-color !global;
  $--date-picker-icon-color: $--n-disabled-text-color !global;
  $--date-picker-item-text-color: (
    'inactive': $--n-disabled-text-color,
    'default': $--n-secondary-text-color,
    'active': $--n-modal-background-color,
    'current': $--n-primary-color
  ) !global;
  $--date-picker-item-sup-color: (
    'default': $--n-primary-color,
    'active': white
  ) !global;
  $--date-picker-month-text-color: $--n-primary-text-color !global;
  $--date-picker-item-background-color: (
    'hover': change-color($--n-primary-color, $alpha: .1),
    'active': $--n-primary-color
  ) !global;
  $--date-picker-divider-color: $--n-divider-color !global;
  $--date-picker-box-shadow: $--n-popover-box-shadow !global;
  $--date-picker-text-decoration-color: $--n-secondary-text-color !global;
}