@mixin setup-light-descriptions {
  $--descriptions-header-background-color: $--n-table-header-color !global;
  $--descriptions-header-text-color: $--n-primary-text-color !global;
  $--descriptions-content-text-color: $--n-secondary-text-color !global;
  $--descriptions-content-background-color: $--n-card-color !global;
  $--descriptions-border-color: $--n-border-color !global;
}