@mixin setup-light-empty {
  $--empty-text-color: $--n-disabled-text-color !global;
  $--empty-icon-color: $--n-disabled-text-color !global;
  $--empty-extra-text-color: $--n-secondary-text-color !global;
}