@mixin setup-light-input-number {
  $--input-number-border-color: (
    'default': $--n-border-color,
    'hover': $--n-primary-color,
    'focus': $--n-primary-color,
    'error': $--n-error-color
  )!global;
  $--input-number-placeholder-color: (
    "default": $--n-placeholder-text-color,
    "disabled": $--n-placeholder-text-color,
  ) !global;
  $--input-number-text-decoration-color: $--n-secondary-text-color !global;
  $--input-number-background-color: (
    'default': $--n-card-background-color,
    'disabled': $--n-disabled-background-color,
    'focus': $--n-card-background-color,
    'error-focus': $--n-card-background-color,
  ) !global;
  $--input-number-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
  $--input-number-button-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color,
    'hover': $--n-primary-color
  ) !global;
  $--input-number-button-background-color: (
    'default': $--n-action-background-color,
    'hover': $--n-action-background-color,
    'active':  $--n-action-background-color,
    'disabled': $--n-disabled-background-color,
  ) !global;
  $--input-number-caret-color: $--n-primary-color !global;
  $--input-number-disabled-opacity: 1 !global;
  $--input-number-box-shadow: (
    "default": inset 0 0 0 1px $--n-border-color,
    "hover": inset 0 0 0 1px $--n-primary-hover-color,
    "focus": (inset 0 0 0 1px $--n-primary-hover-color, 0 0 0 2px change-color($--n-primary-hover-color, $alpha: .3)),
    "error-default": inset 0 0 0 1px $--n-error-hover-color,
    "error-hover": inset 0 0 0 1px $--n-error-hover-color,
    "error-focus": (inset 0 0 0 1px $--n-error-hover-color, 0 0 0 2px change-color($--n-error-hover-color, $alpha: .3)),
    "disabled": inset 0 0 0 1px $--n-border-color
  ) !global;
}