@mixin setup-light-menu {
  $--menu-item-group-text-color: $--n-tertiary-text-color !global;
  $--menu-item-text-color: $--n-secondary-text-color !global;
  $--menu-horizontal-border-color: $--n-primary-color !global;
  $--menu-item-content-text-color: (
    'default': $--n-secondary-text-color,
    'hover': $--n-primary-color,
    'child-selected': $--n-primary-color,
    'selected': $--n-primary-color,
  ) !global;
  $--menu-item-content-extra-text-color: (
    'default': $--n-tertiary-text-color,
    'hover': $--n-primary-color,
    'child-selected': $--n-primary-color,
    'selected': $--n-primary-color,
  ) !global;
  $--menu-item-content-icon-color: (
    'default': $--n-primary-text-color,
    'hover': $--n-primary-color,
    'child-selected': $--n-primary-color,
    'selected': $--n-primary-color,
    'collapsed': $--n-primary-text-color,
  ) !global;
  $--menu-submenu-arrow-color: $--n-primary-color !global;
  $--menu-item-background-color: change-color($--n-primary-color, $alpha: .1) !global;
}