@mixin setup-light-message {
  $--message-text-color: (
    "info": white,
    "success": white,
    "error": white,
    "warning": white,
    "loading": $--n-secondary-text-color
  ) !global;
  $--message-icon-color: rgba(255, 255, 255, .45) !global;
  $--message-background-color: (
    "info": $--n-info-color,
    "success": $--n-success-color,
    "error": $--n-error-color,
    "warning": $--n-warning-color,
    "loading": $--n-popover-background-color
  ) !global;
  $--message-box-shadow: (
    "info": 0px 2px 20px 0px rgba(0, 0, 0, .3),
    "success": 0px 2px 20px 0px rgba(0, 0, 0, .3),
    "error": 0px 2px 20px 0px rgba(0, 0, 0, .3),
    "warning": 0px 2px 20px 0px rgba(0, 0, 0, .3),
    "loading": 0px 2px 20px 0px rgba(0, 0, 0, .3)
  ) !global;
}