@mixin setup-light-message {
  $--message-text-color: (
    "info": white,
    "success": white,
    "error": white,
    "warning": white,
    "loading": $--n-secondary-text-color
  ) !global;
  $--message-icon-color: $--n-icon-color !global;
  $--message-background-color: (
    "info": $--n-info-color,
    "success": $--n-success-color,
    "error": $--n-error-color,
    "warning": $--n-warning-color,
    "loading": $--n-popover-background-color
  ) !global;
  $--message-box-shadow: (
    "info": $--n-popover-box-shadow,
    "success": $--n-popover-box-shadow,
    "error": $--n-popover-box-shadow,
    "warning": $--n-popover-box-shadow,
    "loading": $--n-popover-box-shadow
  ) !global;
}