@mixin setup-light-nimbus-service-layout {
  $service-layout-drawer-background-color: $neutral-10 !global;
  $service-layout-body-background-color: $neutral-8 !global;
  $service-layout-nav-background-color: $neutral-10 !global;
  $service-layout-color: $n-color !global ;
  $service-layout-border-color: $n-divider-color !global;
  $service-layout-toggle-button-color: rgba(0, 0, 0, .15)!global;
  $service-layout-item-background-image: linear-gradient(47deg, $neutral-7, $neutral-7) !global;
}