@mixin setup-light-notification {
  $--notification-background-start-color: rgb(255, 255, 255) !global;
  $--notification-background-end-color: rgb(255, 255, 255) !global;
  $--notification-text-color: #262626 !global;
  $--notification-cell_deactive-color: #b4b4b4 !global;
  $--notification-cell__header-color: #262626 !global;
  $--notification-cell__content-color: #595959 !global;
  $--notification-cell__title-meta-color: #8c8c8c !global;
  $--notification-cell__action-color: $--primary-6 !global;
  $--notification-cell__avator-background-color: $--primary-6 !global;
  $--notification-cell__avator-color: rgb(255, 255, 255) !global;
}
