@mixin setup-light-progress {
  $--progress-rail-color: $--n-action-panel-color !global;
  $--progress-fill-color: (
    'default': $--info-6,
    'info': $--info-6,
    'error': $--error-6,
    'warning': $--warning-6,
    'success': $--success-6
  ) !global;
  $--progress-indicator-color: (
    'outside': $--n-secondary-text-color,
    'inside': white
  ) !global;
  $--progress-line-processing-background-image: linear-gradient(90deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 100%) !global;
}