@mixin setup-light-progress {
  $--progress-rail-color: $--n-divider-color !global;
  $--progress-fill-color: (
    'default': $--n-info-color,
    'info': $--n-info-color,
    'error': $--n-error-color,
    'warning': $--n-warning-color,
    'success': $--n-success-color
  ) !global;
  $--progress-indicator-color: (
    'outside': $--n-secondary-text-color,
    'inside': white
  ) !global;
  $--progress-line-processing-background-image: linear-gradient(90deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 100%) !global;
}