@mixin setup-light-result {
  $--result-icon-fill: (
    'error': $--error-default,
    'success': $--success-default,
    'warning': $--warning-default,
    'info': $--info-default
  ) !global;
  $--result-header-text-color: $--n-primary-text-color !global;
  $--result-description-text-color: $--n-secondary-text-color !global;
}