@mixin setup-light-steps {
  $--steps-step-border-color: (
    'process': $--n-primary-color,
    'wait': rgba(0, 0, 0, .3),
    'finish': $--n-primary-color,
    'error': $--error-default
  ) !global;
  $--steps-step-background-color: (
    'process': $--n-primary-color,
    'wait': transparent,
    'finish': transparent,
    'error': transparent
  ) !global;
  $--steps-step-indicator-color: (
    'process': black,
    'wait': rgba(0, 0, 0, .3),
    'finish': $--n-primary-color,
    'error': $--error-default
  ) !global;
  $--steps-step-splitor-color: (
    'process': rgba(0, 0, 0, .3),
    'wait': rgba(0, 0, 0, .3),
    'finish': $--n-primary-color,
    'error': $--error-default
  ) !global;
  $--steps-step-content-color: (
    'process': $--n-secondary-text-color,
    'wait': rgba(0, 0, 0, .3),
    'finish': $--n-primary-color,
    'error': $--error-default
  ) !global;
  $--steps-step-title-color: (
    'process': $--n-primary-text-color,
    'wait': rgba(0, 0, 0, .3),
    'finish': $--n-primary-color,
    'error': $--error-default
  ) !global;
}