@mixin setup-light-table {
  $--table-border-color: $--n-divider-color !global;
  $--table-body-background-color: (
    'default': $--n-card-background-color,
    'modal': $--n-modal-background-color
  ) !global;
  $--table-header-background-color: mix-color-with-alpha-color(
    $--n-card-background-color,
    $--n-table-header-overlay-background-color
  ) !global;
  $--table-header-text-color: $--n-primary-text-color !global;
  $--table-body-text-color: $--n-secondary-text-color !global;
}