@mixin setup-light-table {
  $--table-header-background-color: $--n-body-color !global;
  $--table-body-background-color: $--n-card-color !global;
  $--table-header-text-color: $--text-1 !global;
  $--table-body-text-color: $--text-2 !global;
  $--table-row-hover: $--n-body-color !global;
  $--table-border: 1px solid $--n-divider-color !global;
  $--table-td-border-right: 1px solid $--n-divider-color !global;
  $--data-table-border-color: $--n-divider-color !global;
}