@mixin setup-light-table {
  $--table-header-background-color: #e8e8e8 !global;
  $--table-body-background-color: #fff !global;
  $--table-header-color: #262626 !global;
  $--table-body-color: #595959 !global;
  $--table-row-hover: rgba(0,0,0,0.03) !global;
  $--table-box-shadow: none !global;
  $--table-border:1px solid rgba(0,0,0,0.15) !global;
  $--table-td-border-right: 1px solid $alpha-neutral-6 !global;
}