@mixin setup-light-tag {
  $--tag-color: (
    'checkable-default': $--n-secondary-text-color,
    'checkable-hover': $--n-primary-color,
    'checkable-active': white,
    'default': $--n-secondary-text-color,
    'default-disabled': $--n-disabled-text-color,
    'success': $--n-success-color,
    'success-disabled': $--n-disabled-text-color,
    'warning': $--n-warning-color,
    'warning-disabled': $--n-disabled-text-color,
    'info': $--n-info-color,
    'info-disabled': $--n-disabled-text-color,
    'error': $--n-error-color,
    'error-disabled': $--n-disabled-text-color,
  ) !global;
  $--tag-background-color: (
    'checkable-default': transparent,
    'checkable-hover': transparent,
    'checkable-active': $--n-primary-color,
    'checkable-checked-hover': $--n-primary-hover-color,
    'checkable-checked-active': $--n-primary-active-color,
    'default': $--neutral-body,
    'default-hover': $--neutral-body,
    'default-active': $--neutral-body,
    'default-disabled': $--neutral-body,
    'success': change-color($--n-success-color, $alpha: .1),
    'success-hover': change-color($--n-success-color, $alpha: .1),
    'success-active': change-color($--n-success-color, $alpha: .1),
    'success-disabled': $--neutral-body,
    'warning': change-color($--n-warning-color, $alpha: .1),
    'warning-hover': change-color($--n-warning-color, $alpha: .1),
    'warning-active': change-color($--n-warning-color, $alpha: .1),
    'warning-disabled': $--neutral-body,
    'info': change-color($--n-info-color, $alpha: .1),
    'info-hover': change-color($--n-info-color, $alpha: .1),
    'info-active': change-color($--n-info-color, $alpha: .1),
    'info-disabled': $--neutral-body,
    'error': change-color($--n-error-color, $alpha: .1),
    'error-hover': change-color($--n-error-color, $alpha: .1),
    'error-active': change-color($--n-error-color, $alpha: .1),
    'error-disabled': $--neutral-body,
  ) !global;
  $--tag-border-color: (
    'default': $--n-border-color,
    'default-hover': transparent,
    'default-active': transparent,
    'default-disabled': $--n-border-color,
    'success': change-color($--n-success-color, $alpha: .45),
    'success-hover': transparent,
    'success-active': transparent,
    'success-disabled': $--n-border-color,
    'warning': change-color($--n-warning-color, $alpha: .45),
    'warning-hover': transparent,
    'warning-active': transparent,
    'warning-disabled': $--n-border-color,
    'info': change-color($--n-info-color, $alpha: .45),
    'info-hover': transparent,
    'info-active': transparent,
    'info-disabled': $--n-border-color,
    'error': change-color($--n-error-color, $alpha: .45),
    'error-hover': transparent,
    'error-active': transparent,
    'error-disabled': $--n-border-color,
  ) !global;
  $--tag-close-color: (
    'default': $--n-close-color,
    'default-hover': $--n-close-hover-color,
    'default-active': $--n-close-color,
    'default-disabled': $--n-disabled-close-color,
    'success': change-color($--n-success-color, $alpha: .5),
    'success-hover': change-color($--n-success-color, $alpha: 1),
    'success-active': change-color($--n-success-color, $alpha: .75),
    'success-disabled': $--n-disabled-close-color,
    'warning': change-color($--n-warning-color, $alpha: .5),
    'warning-hover': change-color($--n-warning-color, $alpha: 1),
    'warning-active': change-color($--n-warning-color, $alpha: .75),
    'warning-disabled': $--n-disabled-close-color,
    'info': change-color($--n-info-color, $alpha: .5),
    'info-hover': change-color($--n-info-color, $alpha: 1),
    'info-active': change-color($--n-info-color, $alpha: .75),
    'info-disabled': $--n-disabled-close-color,
    'error': change-color($--n-error-color, $alpha: .5),
    'error-hover': change-color($--n-error-color, $alpha: 1),
    'error-active': change-color($--n-error-color, $alpha: .75),
    'error-disabled': $--n-disabled-close-color,
  ) !global;
}