@mixin setup-light-tag {
  $--tag-color: (
    'checkable-default': $--n-secondary-text-color,
    'checkable-hover': $--n-primary-color,
    'checkable-active': white,
    'default': $--n-secondary-text-color,
    'default-disabled': $--n-disabled-text-color,
    'success': $--success-default,
    'success-disabled': $--n-disabled-text-color,
    'warning': $--warning-default,
    'warning-disabled': $--n-disabled-text-color,
    'info': $--info-default,
    'info-disabled': $--n-disabled-text-color,
    'error': $--error-default,
    'error-disabled': $--n-disabled-text-color,
  ) !global;
  $--tag-background-color: (
    'checkable-default': transparent,
    'checkable-hover': transparent,
    'checkable-active': $--n-primary-color,
    'checkable-checked-hover': $--n-primary-hover-color,
    'checkable-checked-active': $--n-primary-active-color,
    'default': $--neutral-body,
    'default-hover': $--neutral-body,
    'default-active': $--neutral-body,
    'default-disabled': $--neutral-body,
    'success': change-color($--success-default, $alpha: .1),
    'success-hover': change-color($--success-default, $alpha: .1),
    'success-active': change-color($--success-default, $alpha: .1),
    'success-disabled': $--neutral-body,
    'warning': change-color($--warning-default, $alpha: .1),
    'warning-hover': change-color($--warning-default, $alpha: .1),
    'warning-active': change-color($--warning-default, $alpha: .1),
    'warning-disabled': $--neutral-body,
    'info': change-color($--info-default, $alpha: .1),
    'info-hover': change-color($--info-default, $alpha: .1),
    'info-active': change-color($--info-default, $alpha: .1),
    'info-disabled': $--neutral-body,
    'error': change-color($--error-default, $alpha: .1),
    'error-hover': change-color($--error-default, $alpha: .1),
    'error-active': change-color($--error-default, $alpha: .1),
    'error-disabled': $--neutral-body,
  ) !global;
  $--tag-border-color: (
    'default': $--n-border-color,
    'default-hover': transparent,
    'default-active': transparent,
    'default-disabled': $--n-border-color,
    'success': change-color($--success-default, $alpha: .45),
    'success-hover': transparent,
    'success-active': transparent,
    'success-disabled': $--n-border-color,
    'warning': change-color($--warning-default, $alpha: .45),
    'warning-hover': transparent,
    'warning-active': transparent,
    'warning-disabled': $--n-border-color,
    'info': change-color($--info-default, $alpha: .45),
    'info-hover': transparent,
    'info-active': transparent,
    'info-disabled': $--n-border-color,
    'error': change-color($--error-default, $alpha: .45),
    'error-hover': transparent,
    'error-active': transparent,
    'error-disabled': $--n-border-color,
  ) !global;
  $--tag-close-mark-color: (
    'default': change-color($--n-secondary-text-color, $alpha: .5),
    'default-hover': change-color($--n-secondary-text-color, $alpha: 1),
    'default-active': change-color($--n-secondary-text-color, $alpha: .75),
    'default-disabled': change-color($--n-disabled-text-color, $alpha: .5),
    'success': change-color($--success-default, $alpha: .5),
    'success-hover': change-color($--success-default, $alpha: 1),
    'success-active': change-color($--success-default, $alpha: .75),
    'success-disabled': change-color($--n-disabled-text-color, $alpha: .5),
    'warning': change-color($--warning-default, $alpha: .5),
    'warning-hover': change-color($--warning-default, $alpha: 1),
    'warning-active': change-color($--warning-default, $alpha: .75),
    'warning-disabled':change-color($--n-disabled-text-color, $alpha: .5),
    'info': change-color($--info-default, $alpha: .5),
    'info-hover': change-color($--info-default, $alpha: 1),
    'info-active': change-color($--info-default, $alpha: .75),
    'info-disabled': change-color($--n-disabled-text-color, $alpha: .5),
    'error': change-color($--error-default, $alpha: .5),
    'error-hover': change-color($--error-default, $alpha: 1),
    'error-active': change-color($--error-default, $alpha: .75),
    'error-disabled': change-color($--n-disabled-text-color, $alpha: .5),
  ) !global;
}