@mixin setup-light-tag {
  $--tag-color: (
    'default': $--n-secondary-text-color,
    'default-disabled': $--n-disabled-text-color,
    'success': $success-6,
    'success-disabled': $--n-disabled-text-color,
    'warning': $warning-6,
    'warning-disabled': $--n-disabled-text-color,
    'info': $info-6,
    'info-disabled': $--n-disabled-text-color,
    'error': $error-6,
    'error-disabled': $--n-disabled-text-color,
  ) !global;
  $--tag-background-color: (
    'default': $neutral-9,
    'default-hover': $neutral-9,
    'default-active': $neutral-9,
    'default-disabled': $neutral-9,
    'success': change-color($success-6, $alpha: .1),
    'success-hover': change-color($success-6, $alpha: .1),
    'success-active': change-color($success-6, $alpha: .1),
    'success-disabled': $neutral-9,
    'warning': change-color($warning-6, $alpha: .1),
    'warning-hover': change-color($warning-6, $alpha: .1),
    'warning-active': change-color($warning-6, $alpha: .1),
    'warning-disabled': $neutral-9,
    'info': change-color($info-6, $alpha: .1),
    'info-hover': change-color($info-6, $alpha: .1),
    'info-active': change-color($info-6, $alpha: .1),
    'info-disabled': $neutral-9,
    'error': change-color($error-6, $alpha: .1),
    'error-hover': change-color($error-6, $alpha: .1),
    'error-active': change-color($error-6, $alpha: .1),
    'error-disabled': $neutral-9,
  ) !global;
  $--tag-border-color: (
    'default': $--n-border-color,
    'default-hover': transparent,
    'default-active': transparent,
    'default-disabled': $--n-border-color,
    'success': $success-3,
    'success-hover': transparent,
    'success-active': transparent,
    'success-disabled': $--n-border-color,
    'warning': $warning-3,
    'warning-hover': transparent,
    'warning-active': transparent,
    'warning-disabled': $--n-border-color,
    'info': $info-3,
    'info-hover': transparent,
    'info-active': transparent,
    'info-disabled': $--n-border-color,
    'error': $error-3,
    'error-hover': transparent,
    'error-active': transparent,
    'error-disabled': $--n-border-color,
  ) !global;
  $--tag-close-mark-color: (
    'default': change-color($--n-secondary-text-color, $alpha: .5),
    'default-hover': change-color($--n-secondary-text-color, $alpha: 1),
    'default-active': change-color($--n-secondary-text-color, $alpha: .75),
    'default-disabled': change-color($--n-disabled-text-color, $alpha: .5),
    'success': change-color($success-6, $alpha: .5),
    'success-hover': change-color($success-6, $alpha: 1),
    'success-active': change-color($success-6, $alpha: .75),
    'success-disabled': change-color($--n-disabled-text-color, $alpha: .5),
    'warning': change-color($warning-6, $alpha: .5),
    'warning-hover': change-color($warning-6, $alpha: 1),
    'warning-active': change-color($warning-6, $alpha: .75),
    'warning-disabled':change-color($--n-disabled-text-color, $alpha: .5),
    'info': change-color($info-6, $alpha: .5),
    'info-hover': change-color($info-6, $alpha: 1),
    'info-active': change-color($info-6, $alpha: .75),
    'info-disabled': change-color($--n-disabled-text-color, $alpha: .5),
    'error': change-color($error-6, $alpha: .5),
    'error-hover': change-color($error-6, $alpha: 1),
    'error-active': change-color($error-6, $alpha: .75),
    'error-disabled': change-color($--n-disabled-text-color, $alpha: .5),
  ) !global;
}