@mixin setup-light-timeline {
  $--timeline-item-circle-border-color: (
    'default': $--n-tertiary-text-color,
    'info': $--n-info-color,
    'error': $--n-error-color,
    'success': $--n-success-color,
    'warning': $--n-warning-color
  ) !global;
  $--timeline-item-title-color: $--n-primary-text-color !global;
  $--timeline-item-content-color: $--n-secondary-text-color !global;
  $--timeline-item-meta-color: $--n-tertiary-text-color !global;
  $--timeline-line-background-color: rgba(0, 0, 0, .15) !global;
}