@mixin setup-light-timeline {
  $--timeline-item-circle-border-color: (
    'default': $--n-tertiary-text-color,
    'info': $--info-default,
    'error': $--error-default,
    'success': $--success-default,
    'warning': $--warning-default
  ) !global;
  $--timeline-item-title-color: $--n-primary-text-color !global;
  $--timeline-item-content-color: $--n-secondary-text-color !global;
  $--timeline-item-meta-color: $--n-tertiary-text-color !global;
  $--timeline-line-background-color: rgba(0, 0, 0, .15) !global;
}