@import 'darkColors.scss';
@import 'components/Button.scss';
@import 'components/Divider.scss';
@import 'components/Scrollbar.scss';
@import 'components/BaseLoading.scss';
@import 'components/BaseSelectMenu.scss';
@import 'components/BaseSelection.scss';
@import 'components/BaseSuffix.scss';
@import 'components/Tag.scss';
@import 'components/Table.scss';
@import 'components/DataTable.scss';
@import 'components/Popover.scss';
@import 'components/Tooltip.scss';
@import 'components/Confirm.scss';
@import 'components/CheckBox.scss';
@import 'components/Switch.scss';
@import 'components/Message.scss';
@import 'components/LoadingBar.scss';
@import 'components/Badge.scss';
@import 'components/Dropdown.scss';
@import 'components/Input.scss';
@import 'components/Alert.scss';
@import 'components/Anchor.scss';
@import 'components/Pagination.scss';
@import 'components/GradientText.scss';
@import 'components/DatePicker.scss';
@import 'components/TimePicker.scss';
@import 'components/Progress.scss';
@import 'components/Timeline.scss';
@import 'components/BackTop.scss';
@import 'components/Notification.scss';
@import 'components/Radio.scss';
@import 'components/Steps.scss';
@import 'components/InputNumber.scss';
@import 'components/Slider.scss';
@import 'components/Cascader.scss';
@import 'components/Tabs.scss';
@import 'components/Statistic.scss';
@import 'components/Breadcrumb.scss';
@import 'components/Modal.scss';
@import 'components/Transfer.scss';
@import 'components/Menu.scss';
@import 'components/Thing.scss';
@import 'components/List.scss';
@import 'components/Layout.scss';
@import 'components/Form.scss';
@import 'components/Empty.scss';
@import 'components/Drawer.scss';
@import 'components/Descriptions.scss';
@import 'components/Card.scss';
@import 'components/AutoComplete.scss';
@import 'components/Affix.scss';
@import 'components/Avatar.scss';
@import 'components/Collapse.scss';
@import 'components/Result.scss';
@import 'components/Tree.scss';
@import 'components/Typography.scss';
@import 'components/Upload.scss';
@import 'components/BaseMenuMask.scss';
@import 'components/Spin.scss';
@import 'components/Log.scss';
@import 'components/Code.scss';
@import 'components/BaseTrackingRect.scss';

@mixin setup-dark-theme($in-js-env: false) {
  @include setup-dark-colors();
  $--n-base-background-color: $--neutral-base !global;

  $--n-primary-color: $--primary-default !global;
  $--n-primary-hover-color: $--primary-hover !global;
  $--n-primary-active-color: $--primary-active !global;
  $--n-primary-hs-color: $--primary-hs !global;

  $--n-info-color: $--info-default !global;
  $--n-info-hover-color: $--info-hover !global;
  $--n-info-active-color: $--info-active !global;
  $--n-info-hs-color: $--info-hs !global;

  $--n-success-color: $--success-default !global;
  $--n-success-hover-color: $--success-hover !global;
  $--n-success-active-color: $--success-active !global;
  $--n-success-hs-color: $--success-hs !global;

  $--n-error-color: $--error-default !global;
  $--n-error-hover-color: $--error-hover !global;
  $--n-error-active-color: $--error-active !global;
  $--n-error-hs-color: $--error-hs !global;

  $--n-warning-color: $--warning-default !global;
  $--n-warning-hover-color: $--warning-hover !global;
  $--n-warning-active-color: $--warning-active !global;
  $--n-warning-hs-color: $--warning-hs !global;

  $--n-primary-text-color: $--overlay-text-1 !global;
  $--n-secondary-text-color: $--overlay-text-2 !global;
  $--n-tertiary-text-color: $--overlay-text-3 !global;
  $--n-disabled-text-color: $--overlay-text-4 !global;
  $--n-placeholder-text-color: $--overlay-text-4 !global;
  $--n-base-text-color: $--base-text !global;

  $--n-primary-opacity: $--alpha-1 !global;
  $--n-secondary-opacity: $--alpha-2 !global;
  $--n-tertiary-opacity: $--alpha-3 !global;
  $--n-pending-opacity: $--alpha-pending !global;
  $--n-disabled-fill-opacity: $--alpha-disabled-fill !global;
  
  $--n-icon-color: $--overlay-text-4 !global;

  $--n-rail-color: $--overlay-rail !global;
  $--n-divider-color: $--overlay-divider !global;
  $--n-border-color: $--overlay-border !global;

  $--n-scrollbar-background-color: $--overlay-scrollbar !global;
  $--n-scrollbar-hover-background-color: $--overlay-scrollbar-hover !global;

  $--n-close-hover-color: $--overlay-text-2 !global;
  $--n-close-color: $--overlay-text-3 !global;
  $--n-disabled-close-color: $--overlay-text-4 !global;

  $--n-popover-background-color: $--neutral-popover !global;
  $--n-table-body-background-color: $--neutral-card !global;
  $--n-card-background-color: $--neutral-card !global;
  $--n-modal-background-color: $--neutral-modal !global;
  $--n-body-background-color: $--neutral-body !global;
  $--n-base-background-color: $--neutral-base !global;
  $--n-tag-background-color: null !global;

  $--n-input-overlay-background-color: $--overlay-input !global;
  $--n-code-overlay-background-color: $--overlay-code !global;
  $--n-tab-overlay-background-color: $--overlay-tab !global;
  $--n-avatar-overlay-background-color: $--overlay-avatar !global;
  $--n-action-overlay-background-color: $--overlay-action !global;
  $--n-table-header-overlay-background-color: $--overlay-action !global;

  $--n-pending-overlay-color: $--overlay-pending !global;
  $--n-active-overlay-color: $--overlay-active !global;

  $--n-disabled-opacity: $--alpha-disabled !global;
  $--n-disabled-background-color: $--overlay-disabled !global;

  $--n-message-colored-box-shadow: null !global;

  @if ($in-js-env != true) {
    @include setup-dark-divider;
    @include setup-dark-scrollbar;
    @include setup-dark-base-loading;
    @include setup-dark-button;
    @include setup-dark-base-select-menu;
    @include setup-dark-base-selection;
    @include setup-dark-base-suffix;
    @include setup-dark-tag;
    @include setup-dark-table;
    @include setup-dark-data-table;
    @include setup-dark-popover;
    @include setup-dark-tooltip;
    @include setup-dark-confirm;
    @include setup-dark-checkbox;
    @include setup-dark-switch;
    @include setup-dark-message;
    @include setup-dark-loading-bar;
    @include setup-dark-badge;
    @include setup-dark-dropdown;
    @include setup-dark-input;
    @include setup-dark-anchor;
    @include setup-dark-alert;
    @include setup-dark-pagination;
    @include setup-dark-gradient-text;
    @include setup-dark-date-picker;
    @include setup-dark-time-picker;
    @include setup-dark-progress;
    @include setup-dark-timeline;
    @include setup-dark-back-top;
    @include setup-dark-notification;
    @include setup-dark-radio;
    @include setup-dark-step;
    @include setup-dark-input-number;
    @include setup-dark-slider;
    @include setup-dark-cascader;
    @include setup-dark-tabs;
    @include setup-dark-statistic;
    @include setup-dark-breadcrumb;
    @include setup-dark-modal;
    @include setup-dark-transfer;
    @include setup-dark-menu;
    @include setup-dark-thing;
    @include setup-dark-list;
    @include setup-dark-layout;
    @include setup-dark-form;
    @include setup-dark-empty;
    @include setup-dark-drawer;
    @include setup-dark-descriptions;
    @include setup-dark-card;
    @include setup-dark-auto-complete;
    @include setup-dark-affix;
    @include setup-dark-avatar;
    @include setup-dark-collapse;
    @include setup-dark-result;
    @include setup-dark-tree;
    @include setup-dark-typography;
    @include setup-dark-upload;
    @include setup-dark-base-menu-mask;
    @include setup-dark-spin;
    @include setup-dark-log;
    @include setup-dark-code;
    @include setup-dark-base-tracking-rect;
  }
}
