@import '../../styles/themes/dark/index.scss';

@include setup-dark-theme($in-js-env: true);

/* stylelint-disable */
:export {
  primaryColor: $--n-primary-hover-color;
  primaryHoverColor: $--n-primary-color;
  primaryActiveColor: $--n-primary-active-color;
  infoColor: $--n-info-hover-color;
  infoHoverColor: $--n-info-color;
  infoActiveColor: $--n-info-active-color;
  successColor: $--n-success-hover-color;
  successHoverColor: $--n-success-color;
  successActiveColor: $--n-success-active-color;
  errorColor: $--n-error-hover-color;
  errorHoverColor: $--n-error-color;
  errorActiveColor: $--n-error-active-color;
  warningColor: $--n-warning-hover-color;
  warningHoverColor: $--n-warning-color;
  warningActiveColor: $--n-warning-active-color;
  primaryTextColor: $--text-1;
  secondaryTextColor: $--text-2;
  tertiaryTextColor: $--text-3;
  disabledTextColor: rgba(255, 255, 255, 0.3);
  popoverBackgroundColor: $--neutral-popover;
  dialogBackgroundColor: $--neutral-modal;
  cardBackgroundColor: $--neutral-card;
  bodyBackgroundColor: $--neutral-body;
  closeColor: $--text-3;
  dividerColor: $--overlay-divider;
  borderColor: $--n-border-color;
  easeInOutCubicBezier: cubic-bezier(.4, 0, .2, 1);
}
