@import '../../styles/themes/light/index.scss';

@include setup-light-theme($in-js-env: true);

/* stylelint-disable */
:export {
  primaryColor: $--n-primary-hover-color;
  primaryHoverColor: $--n-primary-color;
  primaryActiveColor: $--n-primary-active-color;
  infoColor: $--info-hover;
  infoHoverColor: $--info-default;
  infoActiveColor: $--info-active;
  successColor: $--success-hover;
  successHoverColor: $--success-default;
  successActiveColor: $--success-active;
  errorColor: $--error-hover;
  errorHoverColor: $--error-default;
  errorActiveColor: $--error-active;
  warningColor: $--warning-hover;
  warningHoverColor: $--warning-default;
  warningActiveColor: $--warning-active;
  primaryTextColor: $--text-1;
  secondaryTextColor: $--text-2;
  tertiaryTextColor: $--text-3;
  disabledTextColor: $--text-4;
  popoverBackgroundColor: $--neutral-popover;
  dialogBackgroundColor: $--neutral-modal;
  cardBackgroundColor: $--neutral-card;
  bodyBackgroundColor: $--neutral-body;
  closeColor: $--text-3;
  dividerColor: $--overlay-divider;
  borderColor: $--overlay-border;
  easeInOutCubicBezier: cubic-bezier(.4, 0, .2, 1);
}
