$primary-1: #f0fff6;
$primary-2: #c7fcde;
$primary-3: #97f0c0;
$primary-4: #6be3a7;
$primary-5: #42d691;
$primary-6: #1fca81;
$primary-7: #10a368;
$primary-8: #067d51;
$primary-9: #00573a;
$primary-10: #003022;

$success-1: #f0fff6;
$success-2: #c7fcde;
$success-3: #97f0c0;
$success-4: #6be3a7;
$success-5: #42d691;
$success-6: #1fca81;
$success-7: #10a368;
$success-8: #067d51;
$success-9: #00573a;
$success-10: #003022;