$--n-font-family: 'FiraSans';

$--n-mono-font-family: 'FiraCode', monospace;

$--n-height: (
  "small": 28px,
  "medium": 34px,
  "large": 40px,
  "huge": 48px
);

$--n-font-size: (
  "tiny": 13px,
  "small": 14px,
  "medium": 14px,
  "large": 15px,
  "huge": 16px
);

$--base-picker-border-radius: 6px;

$--base-select-menu-box-shadow: none;

$--input-number-border-radius: 6px;

$--input-icon-size: 20px;
$--input-border-radius: 6px;

$--popover-box-shadow: (0 2px 12px 0 rgba(0, 0, 0, 0.18));
$--popover-arrow-width: 6px;

$--table-fixed-column-box-shadow: (0 0 12px 0 rgba(0, 0, 0, .18));

$--slider-rail-height: 4px;
$--slider-dot-size: 8px;
$--slider-handle-size: 14px;
