@import "darkColors.scss";

@mixin setup-default-theme () {
  @include setup-dark-colors();
  $n-color: $neutral-2 !global;
  $n-divider-color: $neutral-5 !global;
  /**
   * service layout
   */
  $service-layout-drawer-background-color: $neutral-7 !global;
  $service-layout-body-background-color: $neutral-8 !global;
  $service-layout-nav-background-color: $neutral-7 !global;
  $service-layout-color: $n-color !global;
  $service-layout-border-color: $neutral-5 !global;
  /**
   * Divider
   */
  $divider-color: $n-color !global;
  /**
   * button
   */
  $button-font-family: $default-font-family !global;
  $button-border-radius: 6px !global;
  $button-font-size: (
    "tiny": 12px,
    "small": 14px,
    "medium": 14px,
    "large": 16px
  ) !global;
  $button-height: (
    "tiny": 22px,
    "small": 28px,
    "medium": 34px,
    "large": 40px
  ) !global;
  $button-padding: (
    "tiny": 0 6px,
    "small": 0 10px,
    "medium": 0 14px,
    "large": 0 18px
  ) !global;
  $round-button-padding: (
    "tiny": 0 10px,
    "small": 0 14px,
    "medium": 0 18px,
    "large": 0 22px
  ) !global;
  $button-icon-size: (
    "tiny": 14px,
    "small": 16px,
    "medium": 18px,
    "large": 20px
  ) !global;
  $button-border-color: (
    "default":  $primary-3,
    "primary": $primary-6,
    "info": $info-3,
    "success": $success-3,
    "warning": $warning-3,
    "error": $error-3
  ) !global;
  $button-box-shadow-spread: 0px !global;
  $button-box-shadow-ripple-spread: 4px !global;
  $button-box-shadow-spread-alpha: .3 !global;
  $button-box-shadow: (
    'default': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'default'),
    'default-ghost': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'default'),
    'default-focus': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'default'),
    'default-focus-ripple-start': (0 0 0 0 map-get($map: $button-border-color, $key: 'default')),  
    'default-focus-ripple-end': (0 0 0 $button-box-shadow-ripple-spread map-get($map: $button-border-color, $key: 'default')),
    'primary': none,
    'primary-ghost': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'primary'),
    'primary-focus': none,
    'primary-focus-ripple-start': (0 0 0 0 map-get($map: $button-border-color, $key: 'primary')),  
    'primary-focus-ripple-end': (0 0 0 $button-box-shadow-ripple-spread map-get($map: $button-border-color, $key: 'primary')),
    'success': none,
    'success-ghost': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'success'),
    'success-focus': none,
    'success-focus-ripple-start': (0 0 0 0 map-get($map: $button-border-color, $key: 'success')),  
    'success-focus-ripple-end': (0 0 0 $button-box-shadow-ripple-spread map-get($map: $button-border-color, $key: 'success')),
    'info': none,
    'info-ghost': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'info'),
    'info-focus': none,
    'info-focus-ripple-start': (0 0 0 0 map-get($map: $button-border-color, $key: 'info')),  
    'info-focus-ripple-end': (0 0 0 $button-box-shadow-ripple-spread map-get($map: $button-border-color, $key: 'info')),
    'warning': none,
    'warning-ghost': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'warning'),
    'warning-focus': none,
    'warning-focus-ripple-start': (0 0 0 0 map-get($map: $button-border-color, $key: 'warning')),  
    'warning-focus-ripple-end': (0 0 0 $button-box-shadow-ripple-spread map-get($map: $button-border-color, $key: 'warning')),
    'error': none,
    'error-ghost': inset 0 0 0 1px map-get($map: $button-border-color, $key: 'error'),
    'error-focus': none,
    'error-focus-ripple-start': (0 0 0 0 map-get($map: $button-border-color, $key: 'error')),  
    'error-focus-ripple-end': (0 0 0 $button-box-shadow-ripple-spread map-get($map: $button-border-color, $key: 'error'))
  ) !global;
  $button-ghost-alpha: 0;
  $button-ghost-hover-alpha: .2;
  $button-ghost-active-alpha: .3;
  $button-ghost-focus-alpha: .2;
  $button-background-color: (
    "default": change-color($primary-6, $alpha: $button-ghost-alpha),
    "default-focus": change-color($primary-6, $alpha: $button-ghost-focus-alpha),
    "default-hover": change-color($primary-6, $alpha: $button-ghost-hover-alpha),
    "default-active": change-color($primary-6, $alpha: $button-ghost-active-alpha),
    "primary": $primary-6,
    "primary-focus": $primary-5,
    "primary-hover": $primary-5,
    "primary-active": $primary-7,
    "info": $info-3,
    "info-focus": $info-2,
    "info-hover": $info-2,
    "info-active": $info-4,
    "success": $success-3,
    "success-focus": $success-2,
    "success-hover": $success-2,
    "success-active": $success-4,
    "warning": $warning-3,
    "warning-focus": $warning-2,
    "warning-hover": $warning-2,
    "warning-active": $warning-4,
    "error": $error-3,
    "error-focus": $error-2,
    "error-hover": $error-2,
    "error-active": $error-4,
  ) !global;
  $ghost-button-background-color: (
    "default": change-color($primary-6, $alpha: $button-ghost-alpha),
    "default-focus": change-color($primary-6, $alpha: $button-ghost-focus-alpha),
    "default-hover": change-color($primary-6, $alpha: $button-ghost-hover-alpha),
    "default-active": change-color($primary-6, $alpha: $button-ghost-active-alpha),
    "primary": change-color($primary-6, $alpha: $button-ghost-alpha),
    "primary-focus": change-color($primary-6, $alpha: $button-ghost-focus-alpha),
    "primary-hover": change-color($primary-6, $alpha: $button-ghost-hover-alpha),
    "primary-active": change-color($primary-6, $alpha: $button-ghost-active-alpha),
    "info": change-color($info-6, $alpha: $button-ghost-alpha),
    "info-focus": change-color($info-6, $alpha: $button-ghost-focus-alpha),
    "info-hover": change-color($info-6, $alpha: $button-ghost-hover-alpha),
    "info-active": change-color($info-6, $alpha: $button-ghost-active-alpha),
    "success": change-color($success-6, $alpha: $button-ghost-alpha),
    "success-focus": change-color($success-6, $alpha: $button-ghost-focus-alpha),
    "success-hover": change-color($success-6, $alpha: $button-ghost-hover-alpha),
    "success-active": change-color($success-6, $alpha: $button-ghost-active-alpha),
    "error": change-color($error-6, $alpha: $button-ghost-alpha),
    "error-focus": change-color($error-6, $alpha: $button-ghost-focus-alpha),
    "error-hover": change-color($error-6, $alpha: $button-ghost-hover-alpha),
    "error-active": change-color($error-6, $alpha: $button-ghost-active-alpha),
    "warning": change-color($warning-6, $alpha: $button-ghost-alpha),
    "warning-focus": change-color($warning-6, $alpha: $button-ghost-focus-alpha),
    "warning-hover": change-color($warning-6, $alpha: $button-ghost-hover-alpha),
    "warning-active": change-color($warning-6, $alpha: $button-ghost-active-alpha),
  ) !global;
  $ghost-button-color: (
    "default": $primary-6,
    "primary": $primary-6,
    "info": $info-3,
    "success": $success-3,
    "warning": $warning-3,
    "error": $error-3
  )!global;
  $button-color: (
    "default": $primary-6,
    "primary": white,
    "info": white,
    "success": white,
    "warning": white,
    "error": white
  ) !global;
}