@mixin setup-dark-colors {
  $--neutral-1: rgb(255, 255, 255) !global;
  $--neutral-2: rgba(255, 255, 255, .85) !global;
  $--neutral-3: rgba(255, 255, 255, .65) !global;
  $--neutral-4: rgba(255, 255, 255, .45) !global;
  $--neutral-5: #40465b !global;
  $--neutral-6: #272F46 !global;
  $--neutral-7: #1F263E !global;
  $--neutral-8: #171D33 !global;
  $--neutral-9: #10142C !global;
  $--neutral-10: rgb(0, 0, 0) !global;
  $--primary-1: #e6ffee !global;
  $--primary-2: #9bf2bb !global;
  $--primary-3: #6ee69e !global;
  $--primary-4: #45d985 !global;
  $--primary-5: rgb(103, 235, 190) !global;
  $--primary-6: rgb(99, 226, 183) !global;
  $--primary-7: rgb(97, 218, 177) !global;
  $--primary-8: #007341 !global;
  $--primary-9: #004d2e !global;
  $--primary-10: #002618 !global;
  $--success-1: #e6ffee !global;
  $--success-2: #9bf2bb !global;
  $--success-3: #00E572 !global;
  $--success-4: #45d985 !global;
  $--success-5: #21cc71 !global;
  $--success-6: #00c060 !global;
  $--success-7: #009952 !global;
  $--success-8: #007341 !global;
  $--success-9: #004d2e !global;
  $--success-10: #002618 !global;
  $--info-1: #edfaff !global;
  $--info-2: #c4ebff !global;
  $--info-3: #0082E5 !global;
  $--info-4: #73c7ff !global;
  $--info-5: #49affc !global;
  $--info-6: #3080d0 !global;
  $--info-7: #106dc9 !global;
  $--info-8: #054fa3 !global;
  $--info-9: #00367d !global;
  $--info-10: #002357 !global;
  $--warning-1: #fff8f0 !global;
  $--warning-2: #ffead4 !global;
  $--warning-3: #E8C517 !global;
  $--warning-4: #ffba82 !global;
  $--warning-5: #ff9e59 !global;
  $--warning-6: #ff8030 !global;
  $--warning-7: #d9601e !global;
  $--warning-8: #b34410 !global;
  $--warning-9: #8c2c06 !global;
  $--warning-10: #661c03 !global;
  $--error-1: #fff0f0 !global;
  $--error-2: #ffdee0 !global;
  $--error-3: #ED4A3B !global;
  $--error-4: #eb818f !global;
  $--error-5: #de576d !global;
  $--error-6: #d03050 !global;
  $--error-7: #ab1f3f !global;
  $--error-8: #851130 !global;
  $--error-9: #5e0822 !global;
  $--error-10: #380415 !global;
}