@mixin setup-dark-colors {
  $--text-1: rgba(255, 255, 255, .92) !global;
  $--text-2: rgba(255, 255, 255, .85) !global;
  $--text-3: rgba(255, 255, 255, .50) !global;
  $--text-4: rgba(255, 255, 255, .35) !global;

  $--alpha-1: .92 !global;
  $--alpha-2: .85 !global;
  $--alpha-3: .50 !global;
  $--alpha-4: .35 !global;

  $--overlay-avatar: rgba(255, 255, 255, .16) !global;
  $--overlay-border: rgba(255, 255, 255, .14) !global;
  $--overlay-divider: rgba(255, 255, 255, .12) !global;
  $--overlay-input: rgba(255, 255, 255, .12) !global;
  $--overlay-action: rgba(255, 255, 255, .05) !global;

  $--neutral-popover: rgb(89, 93, 119) !global;
  $--neutral-modal: rgb(70, 75, 99) !global;
  $--neutral-card: rgb(30, 36, 55) !global;
  $--neutral-body: rgb(18, 24, 42) !global;

  
  $--primary-hover: #7fe7c4 !global;
  $--primary-default: #63e2b7 !global;
  $--primary-active:  #5acea7 !global;
  $--primary-hs: rgb(42, 148, 125) !global;

  $--info-hover: #8acbec !global;
  $--info-default:#70C0E8 !global;
  $--info-active: #66afd3 !global;
  $--info-hs: rgb(56, 137, 197) !global;
  
  $--error-hover: #e98b8b !global;
  $--error-default:#e88080 !global;
  $--error-active: #e57272 !global;
  $--error-hs: rgb(208, 58, 82) !global;
  
  $--warning-hover: #f5d599 !global;
  $--warning-default:#f2c97d !global;
  $--warning-active: #e6c260 !global;
  $--warning-hs: rgb(240, 138, 0) !global;
  
  $--success-hover: #7ee7c4 !global;
  $--success-default:#64e3b8 !global;
  $--success-active: #5acea7 !global;
  $--success-hs: rgb(42, 148, 125) !global;

}