@import 'darkColors.scss';
@import 'components/Button.scss';
@import 'components/Divider.scss';
@import 'components/NimbusServiceLayout.scss';
@import 'components/Scrollbar.scss';
@import 'components/BaseLoading.scss';
@import 'components/BaseSelectMenu.scss';
@import 'components/BasePicker.scss';
@import 'components/BaseCancelMark.scss';
@import 'components/Tag.scss';
@import 'components/Table.scss';
@import 'components/AdvanceTable.scss';
@import "components/Popover.scss";
@import "components/Tooltip.scss";
@import "components/Confirm.scss";
@import "components/CheckBox.scss";
@import "components/Switch.scss";
@import "components/Message.scss";
@import "components/LoadingBar.scss";
@import "components/Badge.scss";
@import "components/Dropdown.scss";
@import "components/Input.scss";
@import "components/Alert.scss";
@import "components/Anchor.scss";
@import "components/Pagination.scss";
@import "components/GradientText.scss";
@import "components/DatePicker.scss";
@import "components/TimePicker.scss";
@import "components/Progress.scss";
@import "components/Timeline.scss";
@import "components/BackTop.scss";
@import "components/Notification.scss";
@import "components/Radio.scss";
@import "components/Steps.scss";
@import "components/InputNumber.scss";
@import "components/Slider.scss";
@import "components/Cascader.scss";
@import "components/Tabs.scss";
@import "components/Statistic.scss";
@import "components/Breadcrumb.scss";
@import "components/NimbusForm.scss";
@import "components/Modal.scss";

@mixin setup-dark-theme() {
  @include setup-dark-colors();
  $--n-primary-color: $--primary-6 !global;
  $--n-primary-hover-color: $--primary-5 !global;
  $--n-primary-active-color: $--primary-7 !global;
  $--n-info-color: $--info-6 !global;
  $--n-success-color: $--success-6 !global;
  $--n-warning-color: $--warning-6 !global;
  $--n-error-color: $--error-6 !global;

  $--n-text-color: $--text-1 !global;
  $--n-popover-color: $--neutral-1 !global;
  $--n-divider-color: $--neutral-6 !global;
  $--n-alpha-divider-color: $--overlay-6 !global;
  $--n-border-color: $--neutral-7 !global;
  $--n-alpha-border-color: $--overlay-7 !global;
  $--n-secondary-text-color: $--text-2 !global;
  $--n-table-header-color: $--neutral-8 !global;
  $--n-alpha-table-header-color: $--overlay-8 !global;
  $--n-table-body-color: $--neutral-9 !global;
  $--n-alpha-table-body-color: $--overlay-9 !global;
  $--n-card-color: $--neutral-9 !global;
  $--n-disabled-text-color: rgba(255, 255, 255, 0.3) !global;
  $--n-dialog-color: $--neutral-3 !global;
  $--n-background-color: $--neutral-10 !global;
  @include setup-dark-nimbus-service-layout;
  @include setup-dark-divider;
  @include setup-dark-scrollbar;
  @include setup-dark-base-loading;
  @include setup-dark-button;
  @include setup-dark-base-select-menu;
  @include setup-dark-base-picker;
  @include setup-dark-base-cancel-mark;
  @include setup-dark-tag;
  @include setup-dark-table;
  @include setup-dark-advance-table;
  @include setup-dark-popover;
  @include setup-dark-tooltip;
  @include setup-dark-confirm;
  @include setup-dark-checkbox;
  @include setup-dark-switch;
  @include setup-dark-message;
  @include setup-dark-loading-bar;
  @include setup-dark-badge;
  @include setup-dark-dropdown;
  @include setup-dark-input;
  @include setup-dark-anchor;
  @include setup-dark-alert;
  @include setup-dark-pagination;
  @include setup-dark-gradient-text;
  @include setup-dark-date-picker;
  @include setup-dark-time-picker;
  @include setup-dark-progress;
  @include setup-dark-timeline;
  @include setup-dark-back-top;
  @include setup-dark-notification;
  @include setup-dark-radio;
  @include setup-dark-step;
  @include setup-dark-input-number;
  @include setup-dark-slider;
  @include setup-dark-cascader;
  @include setup-dark-tabs;
  @include setup-dark-statistic;
  @include setup-dark-breadcrumb;
  @include setup-dark-nimbus-form;
  @include setup-dark-modal;
}
