@import './themes/common.scss';
@import './themes/light/index.scss';
@import './mixins/mixins.scss';

body {
  margin: 0;
  font-size: 14px;
  font-family: $--n-font-family;
}

input {
  font-family: $--n-font-family;
  font-size: inherit;
}

body > {
  @include b(positioning-container) {
    position: fixed;
  }
}

@include b(positioning-container) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transform: translateZ(0);
  @include b(positioning-content) {
    pointer-events: all;
  }
}