@import './mixins/mixins.scss';

@include themes-mixin {
  @include b(button) {
    @include once {
      box-sizing: border-box;
      outline: none;
      position: relative;
      z-index: auto;
      border: none;
      font-family: inherit;
      display: inline-block;
      align-items: center;
      justify-content: center;
      user-select: none;
      text-align: center;
      transition:
        background-color .3s $--n-ease-in-out-cubic-bezier,
        opacity .3s $--n-ease-in-out-cubic-bezier,
        border-color .3s $--n-ease-in-out-cubic-bezier;
      cursor: pointer;
      &::after {
        pointer-events: none;
        content: "";
        border-radius: inherit;
        position: absolute;
        left: -1px;
        top: -1px;
        right: -1px;
        bottom: -1px;
      }
      @include e(border-mask) {
        position: absolute;
        left: -1px;
        top: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: inherit;
        box-shadow: inset 0 0 0 1px transparent;
        transition: box-shadow .3s $--n-ease-in-out-cubic-bezier;
        pointer-events: none;
        z-index: 1;
      }
      @include e(icon) {
        @include fade-in-width-expand-transition();
        transition: color .3s $--n-ease-in-out-cubic-bezier;
      }
      @include e(content) {
        white-space: nowrap;
        transition: color .3s $--n-ease-in-out-cubic-bezier;
      }
      @include m(left-icon) {
        @include e(icon) {
          margin-right: 6px;
        }
      }
      @include m(right-icon) {
        @include e(icon) {
          margin-left: 6px;
        }
      }
      @include m(block) {
        display: block;
        width: 100%;
      }
      @include m(loading) {
        cursor: default;
        opacity: 1;
      }
      @include m(disabled) {
        cursor: not-allowed;
      }
      @include not-m(disabled) {
        @include m(rippling) {
          &::after {
            z-index: 1;
            animation-duration: .6s;
            animation-timing-function: cubic-bezier(0, .4, .5, .9), cubic-bezier(.5, .2, .8, .5);
          }
        }
      }
      @include m(text) {
        @include e(border-mask) {
          box-shadow: none !important;
        }
        border: none !important;
        background-color: transparent !important;
      }
      &::-moz-focus-inner {
        border: 0;
      }
    }
    @include m(disabled) {
      opacity: $--button-disabled-opacity;
    }
  }
}

@include b(button-group) {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  @include not-m(vertical) {
    @include m(block) {
      display: flex;
      flex-wrap: nowrap;
      @include b(button) {
        flex-grow: 1;
      }
    }
    @include b(button) {
      &:first-child:not(:last-child) {
        margin-right: 0!important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child:not(:first-child) {
        margin-left: 0!important;
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
      }
      &:not(:first-child):not(:last-child) {
        margin-left: 0!important;
        margin-right: 0!important;
        border-radius: 0!important;
      }
      /**
       * Not an perfect implementation,
       * since their border is not really "shared"
       */
      @include m(default-type) {
        & + {
          @include b(button) {
            @include m(default-type) {
              border-left-width: 0px!important;
            }
          }
        }
      }
      @include m(ghost) {
        @include m(primary-type) {
          & + {
            @include b(button) {
              @include m(primary-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(success-type) {
          & + {
            @include b(button) {
              @include m(success-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(error-type) {
          & + {
            @include b(button) {
              @include m(error-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(info-type) {
          & + {
            @include b(button) {
              @include m(info-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(warning-type) {
          & + {
            @include b(button) {
              @include m(info-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
      }
    }
  }
  @include m(vertical) {
    display: inline-flex;
    flex-direction: column;
    @include b(button) {
      &:first-child:not(:last-child) {
        margin-bottom: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
      }
      &:last-child:not(:first-child) {
        margin-top: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
      }
      &:not(:first-child):not(:last-child) {
        margin: 0!important;
        border-radius: 0!important;
      }
      @include m(default-type) {
        & + {
          @include b(button) {
            @include m(default-type) {
              border-top-width: 0px!important;
            }
          }
        }
      }
      @include m(ghost) {
        @include m(info-type) {
          & + {
            @include b(button) {
              @include m(info-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(success-type) {
          & + {
            @include b(button) {
              @include m(success-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(warning-type) {
          & + {
            @include b(button) {
              @include m(warning-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(error-type) {
          & + {
            @include b(button) {
              @include m(error-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(primary-type) {
          & + {
            @include b(button) {
              @include m(primary-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
      }
    }
  }
}