@import './mixins/mixins.scss';

@include b(button-group) {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  @include not-m(vertical) {
    @include m(block) {
      display: flex;
      flex-wrap: nowrap;
      @include b(button) {
        flex-grow: 1;
      }
    }
    @include b(button) {
      &:first-child:not(:last-child) {
        margin-right: 0!important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child:not(:first-child) {
        margin-left: 0!important;
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
      }
      &:not(:first-child):not(:last-child) {
        margin-left: 0!important;
        margin-right: 0!important;
        border-radius: 0!important;
      }
      /**
       * Not an perfect implementation,
       * since their border is not really "shared"
       */
      @include m(default-type) {
        & + {
          @include b(button) {
            @include m(default-type) {
              border-left-width: 0px!important;
            }
          }
        }
      }
      @include m(ghost) {
        @include m(primary-type) {
          & + {
            @include b(button) {
              @include m(primary-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(success-type) {
          & + {
            @include b(button) {
              @include m(success-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(error-type) {
          & + {
            @include b(button) {
              @include m(error-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(info-type) {
          & + {
            @include b(button) {
              @include m(info-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
        @include m(warning-type) {
          & + {
            @include b(button) {
              @include m(info-type) {
                border-left-width: 0px!important;
              }
            }
          }
        }
      }
    }
  }
  @include m(vertical) {
    display: inline-flex;
    flex-direction: column;
    @include b(button) {
      &:first-child:not(:last-child) {
        margin-bottom: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
      }
      &:last-child:not(:first-child) {
        margin-top: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
      }
      &:not(:first-child):not(:last-child) {
        margin: 0!important;
        border-radius: 0!important;
      }
      @include m(default-type) {
        & + {
          @include b(button) {
            @include m(default-type) {
              border-top-width: 0px!important;
            }
          }
        }
      }
      @include m(ghost) {
        @include m(info-type) {
          & + {
            @include b(button) {
              @include m(info-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(success-type) {
          & + {
            @include b(button) {
              @include m(success-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(warning-type) {
          & + {
            @include b(button) {
              @include m(warning-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(error-type) {
          & + {
            @include b(button) {
              @include m(error-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
        @include m(primary-type) {
          & + {
            @include b(button) {
              @include m(primary-type) {
                border-top-width: 0px!important;
              }
            }
          }
        }
      }
    }
  }
}