@import "./config.scss";

@mixin b($block) {
  $B: $namespace + "-" + $block;

  .#{$B} {
    @content;
  }
}

@mixin detachedContentWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: visible;
}

@mixin detachedContent {
  position: fixed;
}