@import 'lightColors.scss';
@import "components/Button.scss";
@import "components/Divider.scss";
@import "components/NimbusServiceLayout.scss";
@import "components/Scrollbar.scss";
@import "components/BaseLoading.scss";
@import "components/BaseSelectMenu.scss";
@import "components/BasePicker.scss";
@import "components/BaseCancelMark.scss";
@import "components/Tag.scss";
@import "components/Table.scss";
@import "components/AdvanceTable.scss";
@import "components/Popover.scss";
@import "components/Tooltip.scss";
@import "components/Confirm.scss";
@import "components/CheckBox.scss";
@import "components/Switch.scss";
@import "components/Message.scss";
@import "components/LoadingBar.scss";
@import "components/Badge.scss";
@import "components/Dropdown.scss";
@import "components/Input.scss";
@import "components/Alert.scss";
@import "components/Anchor.scss";
@import "components/Pagination.scss";
@import "components/GradientText.scss";
@import "components/DatePicker.scss";
@import "components/TimePicker.scss";
@import "components/Progress.scss";
@import "components/Timeline.scss";
@import "components/BackTop.scss";
@import "components/Notification.scss";
@import "components/Radio.scss";
@import "components/Steps.scss";
@import "components/InputNumber.scss";
@import "components/Slider.scss";
@import "components/Cascader.scss";
@import "components/Tabs.scss";
@import "components/Statistic.scss";
@import "components/Breadcrumb.scss";
@import "components/NimbusForm.scss";
@import "components/Modal.scss";
@import "components/Transfer.scss";
@import "components/Menu.scss";
@import "components/Thing.scss";
@import "components/List.scss";
@import "components/Layout.scss";
@import "components/Form.scss";
@import "components/Empty.scss";
@import "components/Drawer.scss";
@import "components/Descriptions.scss";
@import "components/Card.scss";
@import "components/AutoComplete.scss";
@import "components/Affix.scss";
@import "components/Avatar.scss";
@import "components/Collapse.scss";
@import "components/Result.scss";
@import "components/Tree.scss";

@mixin setup-light-theme($in-js-env: false) {
  @include setup-light-colors();
  $--n-primary-color: $--primary-6 !global;
  $--n-primary-hover-color: $--primary-5 !global;
  $--n-primary-active-color: $--primary-7 !global;
  $--n-info-color: $--info-6 !global;
  $--n-success-color: $--success-6 !global;
  $--n-warning-color: $--warning-6 !global;
  $--n-error-color: $--error-6 !global;
  $--n-text-color: $--text-1 !global;
  $--n-secondary-text-color: $--text-2 !global;
  $--n-meta-text-color: $--text-3 !global;
  $--n-close-color: $--text-3 !global;
  $--n-selected-color: $--neutral-7 !global;
  $--n-divider-color: $--neutral-7 !global;
  $--n-alpha-divider-color: $--overlay-7 !global;
  $--n-border-color: $--neutral-6 !global;
  $--n-alpha-border-color: $--overlay-6 !global;
  $--n-popover-color: $--neutral-10 !global;
  $--n-table-header-color: $--neutral-8 !global;
  $--n-disabled-text-color: $--neutral-5 !global;
  $--n-card-color: $--neutral-10 !global;
  $--n-dialog-color: $--neutral-10 !global;
  $--n-background-color: $--neutral-10 !global;
  $--n-alpha-input-color: rgba(0, 0, 0, .04) !global;
  @if ($in-js-env != true) {
    @include setup-light-nimbus-service-layout;
    @include setup-light-divider;
    @include setup-light-scrollbar;
    @include setup-light-base-loading;
    @include setup-light-button;
    @include setup-light-base-select-menu;
    @include setup-light-base-picker;
    @include setup-light-base-cancel-mark;
    @include setup-light-tag;
    @include setup-light-table;
    @include setup-light-advance-table;
    @include setup-light-popover;
    @include setup-light-tooltip;
    @include setup-light-confirm;
    @include setup-light-checkbox;
    @include setup-light-switch;
    @include setup-light-message;
    @include setup-light-loading-bar;
    @include setup-light-badge;
    @include setup-light-dropdown;
    @include setup-light-input;
    @include setup-light-anchor;
    @include setup-light-alert;
    @include setup-light-pagination;
    @include setup-light-gradient-text;
    @include setup-light-date-picker;
    @include setup-light-time-picker;
    @include setup-light-progress;
    @include setup-light-timeline;
    @include setup-light-back-top;
    @include setup-light-notification;
    @include setup-light-radio;
    @include setup-light-steps;
    @include setup-light-input-number;
    @include setup-light-slider;
    @include setup-light-cascader;
    @include setup-light-tabs;
    @include setup-light-statistic;
    @include setup-light-breadcrumb;
    @include setup-light-nimbus-form;
    @include setup-light-modal;
    @include setup-light-transfer;
    @include setup-light-menu;
    @include setup-light-thing;
    @include setup-light-list;
    @include setup-light-layout;
    @include setup-light-form;
    @include setup-light-empty;
    @include setup-light-drawer;
    @include setup-light-descriptions;
    @include setup-light-card;
    @include setup-light-auto-complete;
    @include setup-light-affix;
    @include setup-light-avatar;
    @include setup-light-collapse;
    @include setup-light-result;
    @include setup-light-tree;
  }
}
