@import 'lightColors.scss';
@import 'components/Button.scss';
@import 'components/Divider.scss';
@import 'components/Scrollbar.scss';
@import 'components/BaseLoading.scss';
@import 'components/BaseSelectMenu.scss';
@import 'components/BaseSelection.scss';
@import 'components/BaseSuffix.scss';
@import 'components/Tag.scss';
@import 'components/Table.scss';
@import 'components/DataTable.scss';
@import 'components/Popover.scss';
@import 'components/Tooltip.scss';
@import 'components/Confirm.scss';
@import 'components/CheckBox.scss';
@import 'components/Switch.scss';
@import 'components/Message.scss';
@import 'components/LoadingBar.scss';
@import 'components/Badge.scss';
@import 'components/Dropdown.scss';
@import 'components/Input.scss';
@import 'components/Alert.scss';
@import 'components/Anchor.scss';
@import 'components/Pagination.scss';
@import 'components/GradientText.scss';
@import 'components/DatePicker.scss';
@import 'components/TimePicker.scss';
@import 'components/Progress.scss';
@import 'components/Timeline.scss';
@import 'components/BackTop.scss';
@import 'components/Notification.scss';
@import 'components/Radio.scss';
@import 'components/Steps.scss';
@import 'components/InputNumber.scss';
@import 'components/Slider.scss';
@import 'components/Cascader.scss';
@import 'components/Tabs.scss';
@import 'components/Statistic.scss';
@import 'components/Breadcrumb.scss';
@import 'components/Modal.scss';
@import 'components/Transfer.scss';
@import 'components/Menu.scss';
@import 'components/Thing.scss';
@import 'components/List.scss';
@import 'components/Layout.scss';
@import 'components/Form.scss';
@import 'components/Empty.scss';
@import 'components/Drawer.scss';
@import 'components/Descriptions.scss';
@import 'components/Card.scss';
@import 'components/AutoComplete.scss';
@import 'components/Affix.scss';
@import 'components/Avatar.scss';
@import 'components/Collapse.scss';
@import 'components/Result.scss';
@import 'components/Tree.scss';
@import 'components/Typography.scss';
@import 'components/Upload.scss';
@import 'components/BaseMenuMask.scss';
@import 'components/Spin.scss';
@import 'components/Log.scss';
@import 'components/Code.scss';
@import 'components/BaseTrackingRect.scss';

@mixin setup-light-theme($in-js-env: false) {
  @include setup-light-colors();
  $--n-base-background-color: $--neutral-base !global;

  $--n-primary-color: $--primary-default !global;
  $--n-primary-hover-color: $--primary-hover !global;
  $--n-primary-active-color: $--primary-active !global;
  $--n-primary-hs-color: $--primary-default !global;

  $--n-info-color: $--info-default !global;
  $--n-info-hover-color: $--info-hover !global;
  $--n-info-active-color: $--info-active !global;
  $--n-info-hs-color: $--info-default !global;

  $--n-success-color: $--success-default !global;
  $--n-success-hover-color: $--success-hover !global;
  $--n-success-active-color: $--success-active !global;
  $--n-success-hs-color: $--success-default !global;

  $--n-error-color: $--error-default !global;
  $--n-error-hover-color: $--error-hover !global;
  $--n-error-active-color: $--error-active !global;
  $--n-error-hs-color: $--error-default !global;

  $--n-warning-color: $--warning-default !global;
  $--n-warning-hover-color: $--warning-hover !global;
  $--n-warning-active-color: $--warning-active !global;
  $--n-warning-hs-color: $--warning-default !global;

  $--n-primary-text-color: $--overlay-text-1 !global;
  $--n-secondary-text-color: $--overlay-text-2 !global;
  $--n-tertiary-text-color: $--overlay-text-3 !global;
  $--n-disabled-text-color: $--overlay-text-4 !global;
  $--n-placeholder-text-color: $--overlay-text-4 !global;
  $--n-base-text-color: $--base-text !global;
  $--n-primary-opacity: $--alpha-1 !global;
  $--n-secondary-opacity: $--alpha-2 !global;
  $--n-tertiary-opacity: $--alpha-3 !global;
  
  $--n-icon-color: $--overlay-text-4 !global;

  $--n-action-background-color: $--overlay-action !global;
  $--n-table-header-background-color: $--overlay-action !global;

  $--n-rail-color: $--overlay-rail !global;
  $--n-divider-color: $--neutral-divider !global;
  $--n-border-color: $--neutral-border !global;

  $--n-scrollbar-background-color: $--overlay-scrollbar !global;
  $--n-scrollbar-hover-background-color: $--overlay-scrollbar-hover !global;
  
  $--n-close-hover-color: $--overlay-text-2 !global;
  $--n-close-color: $--overlay-text-3 !global;
  $--n-disabled-close-color: $--overlay-text-4 !global;

  $--n-popover-background-color: $--neutral-popover !global;
  $--n-table-body-background-color: $--neutral-card !global;
  $--n-card-background-color: $--neutral-card !global;
  $--n-modal-background-color: $--neutral-modal !global;
  $--n-body-background-color: $--neutral-body !global;
  $--n-input-background-color: $--neutral-card !global;
  $--n-code-background-color: $--neutral-input !global;
  $--n-tab-background-color: $--overlay-tab !global;
  $--n-avatar-background-color: $--overlay-avatar !global;

  $--n-disabled-opacity: $--alpha-disabled !global;
  $--n-disabled-background-color: $--neutral-disabled !global;

  $--n-popmenu-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.18) !global;
  $--n-popover-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12) !global;

  @if ($in-js-env != true) {
    @include setup-light-divider;
    @include setup-light-scrollbar;
    @include setup-light-base-loading;
    @include setup-light-button;
    @include setup-light-base-select-menu;
    @include setup-light-base-selection;
    @include setup-light-base-suffix;
    @include setup-light-tag;
    @include setup-light-table;
    @include setup-light-data-table;
    @include setup-light-popover;
    @include setup-light-tooltip;
    @include setup-light-confirm;
    @include setup-light-checkbox;
    @include setup-light-switch;
    @include setup-light-message;
    @include setup-light-loading-bar;
    @include setup-light-badge;
    @include setup-light-dropdown;
    @include setup-light-input;
    @include setup-light-anchor;
    @include setup-light-alert;
    @include setup-light-pagination;
    @include setup-light-gradient-text;
    @include setup-light-date-picker;
    @include setup-light-time-picker;
    @include setup-light-progress;
    @include setup-light-timeline;
    @include setup-light-back-top;
    @include setup-light-notification;
    @include setup-light-radio;
    @include setup-light-steps;
    @include setup-light-input-number;
    @include setup-light-slider;
    @include setup-light-cascader;
    @include setup-light-tabs;
    @include setup-light-statistic;
    @include setup-light-breadcrumb;
    @include setup-light-modal;
    @include setup-light-transfer;
    @include setup-light-menu;
    @include setup-light-thing;
    @include setup-light-list;
    @include setup-light-layout;
    @include setup-light-form;
    @include setup-light-empty;
    @include setup-light-drawer;
    @include setup-light-descriptions;
    @include setup-light-card;
    @include setup-light-auto-complete;
    @include setup-light-affix;
    @include setup-light-avatar;
    @include setup-light-collapse;
    @include setup-light-result;
    @include setup-light-tree;
    @include setup-light-typography;
    @include setup-light-upload;
    @include setup-light-base-menu-mask;
    @include setup-light-spin;
    @include setup-light-log;
    @include setup-light-code;
    @include setup-light-base-tracking-rect;
  }
}
