@import 'lightColors.scss';
@import "components/Button.scss";
@import "components/Divider.scss";
@import "components/NimbusServiceLayout.scss";
@import "components/Scrollbar.scss";
@import "components/BaseSelectMenu.scss";
@import "components/BasePicker.scss";
@import "components/BaseCancelMark.scss";
@import "components/Tag.scss";
@import "components/Table.scss";
@import "components/AdvanceTable.scss";

@import "components/Popover.scss";
@import "components/Tooltip.scss";
@import "components/Confirm.scss";
@import "components/CheckBox.scss";
@import "components/Switch.scss";
@import "components/Message.scss";
@import "components/LoadingBar.scss";
@import "components/Badge.scss";

@mixin setup-light-theme () {
  @include setup-light-colors();
  $--n-primary-color: $primary-6 !global;
  $--n-primary-hover-color: $primary-5 !global;
  $--n-primary-active-color: $primary-7 !global;
  $--n-info-color: $info-6 !global;
  $--n-success-color: $success-6 !global;
  $--n-warning-color: $warning-6 !global;
  $--n-error-color: $error-6 !global;
  
  $n-selected-color: $neutral-7 !global;
  $--n-divider-color: $neutral-7 !global;
  $--n-border-color: $neutral-6 !global;
  
  $--n-secondary-text-color: $neutral-3 !global;
  $--n-text-color: $neutral-2 !global;
  $--n-disabled-text-color: $neutral-5 !global;
  $--n-card-color: $neutral-10 !global;
  $--n-dialog-color: $neutral-10 !global;
  $--n-background-color: $neutral-10 !global;
 
  @include setup-light-nimbus-service-layout;
  @include setup-light-divider;
  @include setup-light-scrollbar;
  @include setup-light-button;
  @include setup-light-base-select-menu;
  @include setup-light-base-picker;
  @include setup-light-base-cancel-mark;
  @include setup-light-tag;
  @include setup-light-table;
  @include setup-light-advance-table;
  @include setup-light-popover;
  @include setup-light-tooltip;
  @include setup-light-confirm;
  @include setup-light-checkbox;
  @include setup-light-switch;
  @include setup-light-message;
  @include setup-light-loading-bar;
  @include setup-light-badge;
}