@import 'index.scss';

@include setup-light-theme($in-js-env: true);

:export {
  primaryColor: $--primary-5;
  primaryHoverColor: $--primary-6;
  primaryActiveColor: $--primary-7;
  infoColor: $--info-5;
  infoHoverColor: $--info-6;
  infoActiveColor: $--info-7;
  successColor: $--success-5;
  successHoverColor: $--success-6;
  successActiveColor: $--success-7;
  errorColor: $--error-5;
  errorHoverColor: $--error-6;
  errorActiveColor: $--error-7;
  warningColor: $--error-5;
  warningHoverColor: $--error-6;
  warningActiveColor: $--error-7;
  textPrimaryColor: $--text-1;
  textSecondaryColor: $--text-2;
  textTertiaryColor: $--text-3;
  textDisabledColor: $--neutral-5;
  popoverBackgroundColor: $--neutral-10;
  dialogBackgroundColor: $--neutral-10;
  cardBackgroundColor: $--neutral-10;
  bodyBackgroundColor: $--neutral-9;
  closeColor: $--text-3;
  dividerColor: $--neutral-7;
  dividerOverlayColor: $--overlay-7;
  borderColor: $--neutral-6;
  borderOverlayColor: $--overlay-6;
  cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
}