/** chorme and firefox render diffrently, so I save the original file */

@mixin setup-light-colors {
  $neutral-1: rgba(0, 0, 0, 1) !global;
  $neutral-2: rgba(0, 0, 0, .85) !global;
  $neutral-3: rgba(0, 0, 0, .45) !global;
  $neutral-3: rgba(0, 0, 0, .25) !global;
  $neutral-3: rgba(0, 0, 0, .15) !global;
  $neutral-3: rgba(0, 0, 0, .09) !global;
  $neutral-3: rgba(0, 0, 0, .04) !global;
  $neutral-3: rgba(0, 0, 0, 1) !global;
  $neutral-3: rgba(0, 0, 0, 1) !global;
  $neutral-3: rgba(0, 0, 0, 1) !global;
  $primary-1: #e6ffee !global;
  $primary-2: #9bf2bb !global;
  $primary-3: #6ee69e !global;
  $primary-4: #45d985 !global;
  $primary-5: #21cc71 !global;
  $primary-6: #00c060 !global;
  $primary-7: #009952 !global;
  $primary-8: #007341 !global;
  $primary-9: #004d2e !global;
  $primary-10: #002618 !global;
  $success-1: #e6ffee !global;
  $success-2: #9bf2bb !global;
  $success-3: #6ee69e !global;
  $success-4: #45d985 !global;
  $success-5: #21cc71 !global;
  $success-6: #00c060 !global;
  $success-7: #009952 !global;
  $success-8: #007341 !global;
  $success-9: #004d2e !global;
  $success-10: #002618 !global;
  $info-1: #edfaff !global;
  $info-2: #c4ebff !global;
  $info-3: #9cdbff !global;
  $info-4: #73c7ff !global;
  $info-5: #49affc !global;
  $info-6: #2090f0 !global;
  $info-7: #106dc9 !global;
  $info-8: #054fa3 !global;
  $info-9: #00367d !global;
  $info-10: #002357 !global;
  $warning-1: #fff8f0 !global;
  $warning-2: #ffead4 !global;
  $warning-3: #ffd4ab !global;
  $warning-4: #ffba82 !global;
  $warning-5: #ff9e59 !global;
  $warning-6: #ff8030 !global;
  $warning-7: #d9601e !global;
  $warning-8: #b34410 !global;
  $warning-9: #8c2c06 !global;
  $warning-10: #661c03 !global;
  $error-1: #fff0f0 !global;
  $error-2: #ffc7cb !global;
  $error-3: #ff9ea8 !global;
  $error-4: #fa7385 !global;
  $error-5: #ed4763 !global;
  $error-6: #e02048 !global;
  $error-7: #ba1138 !global;
  $error-8: #94062c !global;
  $error-9: #6e0021 !global;
  $error-10: #470018 !global;
}