@mixin setup-light-colors {
  $--text-1: rgba(0, 0, 0, .9) !global;
  $--text-2: rgba(0, 0, 0, .7) !global;
  $--text-3: rgba(0, 0, 0, .45) !global;
  $--overlay-1: rgba(0, 0, 0, 1) !global;
  $--overlay-2: rgba(0, 0, 0, .85) !global;
  $--overlay-3: rgba(0, 0, 0, .65) !global;
  $--overlay-4: rgba(0, 0, 0, .45) !global;
  $--overlay-5: rgba(0, 0, 0, .25) !global;
  $--overlay-6: rgba(0, 0, 0, .15) !global;
  $--overlay-7: rgba(0, 0, 0, .09) !global;
  $--overlay-8: rgba(0, 0, 0, .04) !global;
  $--overlay-9: rgba(0, 0, 0, .02) !global;
  $--overlay-10: rgba(0, 0, 0, 0) !global;
  $--neutral-1: rgb(0, 0, 0) !global;
  $--neutral-2: rgb(38, 38, 38) !global;
  $--neutral-3: rgb(89, 89, 89) !global;
  $--neutral-4: rgb(140, 140, 140) !global;
  $--neutral-5: rgb(191, 191, 191) !global;
  $--neutral-6: rgb(217, 217, 217) !global;
  $--neutral-7: rgb(232, 232, 232) !global;
  $--neutral-8: rgb(244, 244, 244) !global;
  $--neutral-9: rgb(250, 250, 250) !global;
  $--neutral-10: rgb(255, 255, 255) !global;
  $--primary-1: #d9f1e1 !global;
  $--primary-2: #a7d4b6 !global;
  $--primary-3: #7dc798 !global;
  $--primary-4: #57ba7f !global;
  $--primary-5: #36ad6a !global;
  $--primary-6: #18a058 !global;
  $--primary-7: #0c7a43 !global;
  $--primary-8: #04542f !global;
  $--primary-9: #002e1a !global;
  $--primary-10: #000805 !global;
  $--success-1: #d3e0d7 !global;
  $--success-2: #a7d4b6 !global;
  $--success-3: #7dc798 !global;
  $--success-4: #57ba7f !global;
  $--success-5: #36b46a !global;
  $--success-6: #18a058 !global;
  $--success-7: #0c7a43 !global;
  $--success-8: #04542f !global;
  $--success-9: #002e1a !global;
  $--success-10: #000805 !global;
  $--info-1: #edfaff !global;
  $--info-2: #c4e8ff !global;
  $--info-3: #9cd4ff !global;
  $--info-4: #73beff !global;
  $--info-5: #4098fc !global;
  $--info-6: #2080f0 !global;
  $--info-7: #1060c9 !global;
  $--info-8: #0544a3 !global;
  $--info-9: #002e7d !global;
  $--info-10: #001d57 !global;
  $--warning-1: #fffbed !global;
  $--warning-2: #fff0c4 !global;
  $--warning-3: #ffe39c !global;
  $--warning-4: #ffd373 !global;
  $--warning-5: #fcb040 !global;
  $--warning-6: #f0a020 !global;
  $--warning-7: #c97c10 !global;
  $--warning-8: #a35c05 !global;
  $--warning-9: #7d4100 !global;
  $--warning-10: #572a00 !global;
  $--error-1: #fff0f0 !global;
  $--error-2: #ffdee0 !global;
  $--error-3: #f7b0b7 !global;
  $--error-4: #eb818f !global;
  $--error-5: #de576d !global;
  $--error-6: #d03050 !global;
  $--error-7: #ab1f3f !global;
  $--error-8: #851130 !global;
  $--error-9: #5e0822 !global;
  $--error-10: #380415 !global;
}