@mixin setup-light-colors {
  $--base-text: rgb(0, 0, 0) !global;

  $--overlay-text-1: rgba(0, 0, 0, .9) !global;
  $--overlay-text-2: rgba(0, 0, 0, .75) !global;
  $--overlay-text-3: rgba(0, 0, 0, .45) !global;
  $--overlay-text-4: rgba(0, 0, 0, .25) !global;

  $--alpha-1: .9 !global;
  $--alpha-2: .75 !global;
  $--alpha-3: .45 !global;
  $--alpha-4: .25 !global;

  $--alpha-disabled: .5 !global;

  $--overlay-avatar: rgba(0, 0, 0, .25) !global;
  $--overlay-rail: rgba(0, 0, 0, .14) !global;
  $--overlay-border: rgba(0, 0, 0, .14) !global;
  $--overlay-divider: rgba(0, 0, 0, .10) !global;
  $--overlay-input: rgba(0, 0, 0, .02) !global;
  $--overlay-action: rgba(0, 0, 0, .02) !global;
  $--overlay-scrollbar: rgba(0, 0, 0, .25) !global;
  $--overlay-scrollbar-hover: rgba(0, 0, 0, .4) !global;
  $--overlay-disabled: rgba(0, 0, 0, .04) !global;
  $--overlay-tab: rgba(0, 0, 0, .04) !global;

  $--neutral-popover: rgb(255, 255, 255) !global;
  $--neutral-modal: rgb(255, 255, 255) !global;
  $--neutral-card: rgb(255, 255, 255) !global;
  $--neutral-body: rgb(250, 250, 250) !global;
  $--neutral-disabled: rgb(245, 245, 245) !global;
  $--neutral-border: rgb(219, 219, 219) !global;
  $--neutral-divider: rgb(230, 230, 230) !global;
  $--neutral-input: rgb(250, 250, 250) !global;

  $--primary-hover: #36ad6a !global;
  $--primary-default:#18a058 !global;
  $--primary-active: #0c7a43 !global;

  $--info-hover: #4098fc !global;
  $--info-default:#2080f0 !global;
  $--info-active: #1060c9 !global;
  
  $--error-hover: #de576d !global;
  $--error-default:#d03050 !global;
  $--error-active: #ab1f3f !global;
  
  $--warning-hover: #fcb040 !global;
  $--warning-default:#f0a020 !global;
  $--warning-active: #c97c10 !global;

  $--success-hover: #36ad6a !global;
  $--success-default:#18a058 !global;
  $--success-active: #0c7a43 !global;
}
