@font-face {
  font-family: 'FiraSans';
  font-weight: 400;
  src: url('./resources/fonts/FiraSans-Regular.woff2');
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 500;
  src: url('./resources/fonts/FiraSans-Medium.woff2');
}