@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('./resources/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('./resources/fonts/OpenSans-SemiBold.ttf');
}