@import 'Metropolis.scss';

.demo {
  min-height: 600px;
}

.demo-card {
  margin-bottom: 16px;
}

.demo-card .demo-card__view:not(:first-child) {
  margin-top: 16px;
}

.demo-card .demo-card__view pre {
  font-family: "FiraCode";
}

.demo-card .demo-card__view code {
  font-family: "FiraCode";
}

.demo-card code.n-text {
  white-space: nowrap;
}

.n-documentation .n-p, .n-blockquote {
  max-width: 680px;
}