@import 'Metropolis.css';

body {
  overflow: hidden;
}

.demo-card .demo-card__view:not(:first-child) {
  margin-top: 16px;
}

.demo-card .demo-card__view pre {
  font-family: v-mono, monospace;
}

.demo-card .demo-card__view code {
  font-family: v-mono, monospace;
}

.demo-card code.n-text {
  white-space: nowrap;
}

.n-documentation .n-p,
.n-blockquote {
  max-width: 680px;
}

.md-table-wrapper {
  overflow: auto;
  margin-bottom: 16px;
}

.md-table .n-table__td:nth-child(1) {
  font-size: 0.93em !important;
  font-family: v-mono, monospace;
}

.md-table .n-text.n-text--code {
  font-size: 0.93em !important;
}

.md-card {
  margin-bottom: 16px;
}
