.n-nimbus-service-layout__body > .n-scrollbar  > .n-scrollbar-container > .n-scrollbar-content {
  width: 100% !important;
}

.demo-card {
  margin-bottom: 16px;
}

.demo-card .demo-card__view {
  margin-top: 16px;
}

.demo-card .demo-card__view pre {
  font-family: "FiraCode";
}

.demo-card .demo-card__view code {
  font-family: "FiraCode";
}