@import 'Metropolis.css';

body {
  overflow: hidden;
}

.demo-card {
  margin-bottom: 16px;
}

.demo-card .demo-card__view:not(:first-child) {
  margin-top: 16px;
}

.demo-card .demo-card__view pre {
  font-family: "naive-ui-mono", monospace;
}

.demo-card .demo-card__view code {
  font-family: "naive-ui-mono", monospace;
}

.demo-card code.n-text {
  white-space: nowrap;
}

.n-documentation .n-p, .n-blockquote {
  max-width: 680px;
}

.api-table .n-table__td:nth-child(1) {
  font-size: 13px !important;
  font-family: naive-ui-mono, monospace;
}

.api-table .n-text.n-text--code {
  font-size: 13px !important;
}