@import '../../styles/mixins/config.scss';
@import '../../styles/mixins/mixins.scss';

@include themes-mixin {
  @if $theme == 'dark' {
    .markdown {
      table {
        font-size: 14px;
        width: 100%;
        border: 1px solid $--n-divider-color;
        border-radius: 6px;
        text-align: left;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        background: $--neutral-card;
        transition: background-color .3s $--n-ease-in-out-cubic-bezier, border-color .3s $--n-ease-in-out-cubic-bezier, color .3s $--n-ease-in-out-cubic-bezier;
        th {
          background-clip: padding-box;
          white-space: nowrap;
          color: $--text-1;
          transition: background-color .3s $--n-ease-in-out-cubic-bezier, border-color .3s $--n-ease-in-out-cubic-bezier, color .3s $--n-ease-in-out-cubic-bezier;
          background-color: $--n-action-background-color;
          // background-clip: padding-box;
          text-align: inherit;
          padding: 14px 12px;
          vertical-align: inherit;
          font-style: none;
          font-weight: 400;
          text-transform: none;
          border: none;
          font-weight: 500;
          border-color: $--n-divider-color;
          border-bottom: 1px solid $--n-divider-color;
        }
        td {
          color: $--text-2;
          transition: background-color .3s $--n-ease-in-out-cubic-bezier, border-color .3s $--n-ease-in-out-cubic-bezier, color .3s $--n-ease-in-out-cubic-bezier;
          background-color: $--n-table-body-background-color;
          // background-clip: padding-box;
          padding: 12px;
        }
      }
      &.footer-part {
        margin-top: 16px;
      }
    }
  } @else {
    .n-light-theme .markdown {
      table {
        background: white;
        border: 1px solid $--n-divider-color;
        th {
          white-space: nowrap;
          color: $--text-1;
          background: $--n-action-background-color;
          border-bottom: 1px solid $--n-divider-color;
        }
        td {
          color: $--text-2;
          background-color: white;
        }
      }
    }
  }
}