@font-face {
  font-family: 'naive-ui';
  font-weight: 400;
  src: url('../resources/fonts/Inter-Regular.woff2');
}

@font-face {
  font-family: 'naive-ui';
  font-weight: 500;
  src: url('../resources/fonts/Inter-Medium.woff2');
}