@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('./resources/fonts/LatoLatin-Regular.woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  src: url('./resources/fonts/LatoLatin-Medium.woff2');
}