@import '../themes/common.scss';

@font-face {
  font-family: 'naive-ui';
  font-weight: 400;
  src: url('../resources/fonts/LatoLatin-Regular.woff2');
}

@font-face {
  font-family: 'naive-ui';
  font-weight: 500;
  src: url('../resources/fonts/LatoLatin-Semibold.woff2');
}