@font-face {
  font-family: 'naive-ui';
  font-weight: 400;
  src: url('../resources/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'naive-ui';
  font-weight: 500;
  src: url('../resources/fonts/Roboto-Medium.ttf');
}