@import '../_styles/themes/dark/index.scss';
@import '../_styles/themes/common.scss';

@include setup-dark-theme($in-js-env: true);

/* stylelint-disable */
:export {
  primaryColor: $--n-primary-color;
  primaryHoverColor: $--n-primary-hover-color;
  primaryActiveColor: $--n-primary-active-color;
  infoColor: $--n-info-color;
  infoHoverColor: $--n-info-hover-color;
  infoActiveColor: $--n-info-active-color;
  successColor: $--n-success-color;
  successHoverColor: $--n-success-hover-color;
  successActiveColor: $--n-success-active-color;
  errorColor: $--n-error-color;
  errorHoverColor: $--n-error-hover-color;
  errorActiveColor: $--n-error-active-color;
  warningColor: $--n-warning-color;
  warningHoverColor: $--n-warning-hover-color;
  warningActiveColor: $--n-warning-active-color;
  primaryTextColor: $--neutral-text-1;
  secondaryTextColor: $--neutral-text-2;
  tertiaryTextColor: $--neutral-text-3;
  quaternaryTextColor: $--neutral-text-4;
  primaryTextOverlayColor: $--overlay-text-1;
  secondaryTextOverlayColor: $--overlay-text-2;
  tertiaryTextOverlayColor: $--overlay-text-3;
  quaternaryTextOverlayColor: $--overlay-text-4;
  baseBackgroundColor: $--n-base-background-color;
  popoverBackgroundColor: $--neutral-popover;
  modalBackgroundColor: $--neutral-modal;
  cardBackgroundColor: $--neutral-card;
  bodyBackgroundColor: $--neutral-body;
  closeColor: $--neutral-text-3;
  closeOverlayColor: $--overlay-text-3;
  dividerColor: $--neutral-divider;
  dividerOverlayColor: $--overlay-divider;
  borderColor: $--neutral-border;
  borderOverlayColor: $--overlay-border;
  easeInOutCubicBezier: $--n-ease-in-out-cubic-bezier;
  tableHeaderOverlayBackgroundColor: $--n-table-header-overlay-background-color;
  inputOverlayBackgroundColor: $--n-input-overlay-background-color;
}