@mixin setup-light-alert {
  $--alert-border-color: (
    'default': $--n-divider-overlay-color,
    'success': mix($--n-success-color, $--n-base-background-color, 25%),
    'info': mix($--n-info-color, $--n-base-background-color, 25%),
    'warning': mix($--n-warning-color, $--n-base-background-color, 33%),
    'error': mix($--n-error-color, $--n-base-background-color, 25%)
  ) !global;
  $--alert-background-color: (
    'default': $--n-action-overlay-background-color,
    'success': mix($--n-success-color, $--n-base-background-color, 8%),
    'info': mix($--n-info-color, $--n-base-background-color, 8%),
    'warning': mix($--n-warning-color, $--n-base-background-color, 8%),
    'error': mix($--n-error-color, $--n-base-background-color, 8%)
  ) !global;
  $--alert-title-text-color: (
    'default': $--n-primary-text-color,
    'success': $--n-primary-text-color,
    'info': $--n-primary-text-color,
    'warning': $--n-primary-text-color,
    'error': $--n-primary-text-color
  ) !global;
  $--alert-icon-color: (
    'default': $--n-secondary-text-color,
    'success': $--n-success-color,
    'info': $--n-info-color,
    'warning': $--n-warning-color,
    'error': $--n-error-color
  ) !global;
  $--alert-content-text-color: (
    'default': $--n-secondary-text-color,
    'success': $--n-secondary-text-color,
    'info': $--n-secondary-text-color,
    'warning': $--n-secondary-text-color,
    'error': $--n-secondary-text-color,
  ) !global;
  $--alert-close-color: (
    'default': $--n-close-color,
    'hover': $--n-close-hover-color,
    'active': $--n-close-color
  ) !global;
}