@mixin setup-light-pagination {
  $--pagination-item-text-color: (
    'default': $--n-secondary-text-color,
    'hover': $--n-primary-color,
    'active': $--n-primary-color,
    'disabled': $--n-disabled-text-color
  ) !global;
  $--pagination-item-background-color: (
    'default': $--n-card-background-color,
    'active': $--n-base-background-color,
    'disabled': $--n-disabled-background-color
  ) !global;
  $--pagination-item-border-color: (
    'default': $--n-border-color,
    'active': $--n-primary-color,
    'disabled': $--n-border-color
  ) !global;
  $--pagination-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  ) !global;
}