@mixin setup-light-progress {
  $--progress-rail-color: change-color($--n-rail-color, $alpha: alpha($--n-rail-color) * 0.6) !global;
  $--progress-fill-color: (
    'default': $--n-info-color,
    'info': $--n-info-color,
    'error': $--n-error-color,
    'warning': $--n-warning-color,
    'success': $--n-success-color
  ) !global;
  $--progress-indicator-text-color: (
    'outside': $--n-secondary-text-color,
    'inside': $--n-base-background-color
  ) !global;
  $--progress-line-processing-background-image: linear-gradient(90deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 100%) !global;
}