@mixin setup-light-tree {
  $--tree-node-background-color: (
    'hover': $--n-pending-overlay-color,
    'active': $--n-active-overlay-color,
    'selected': change-color($--n-primary-color, $alpha: .1)
  ) !global;
  $--tree-node-switcher-color: $--n-tertiary-text-color !global;
  $--tree-node-content-text-color: (
    'default': $--n-secondary-text-color,
    'disabled': $--n-disabled-text-color
  )!global;
}