@import './mixins/mixins.scss';

@include themes-mixin {
  @include b(anchor) {
    @include once {
      padding-left: 4px;
      position: relative;
    }
    @include b(anchor-link-background) {
      @include once {
        position: absolute;
        left: 2px;
        width: 100%;
        max-width: 0;
        transition: top .15s $--n-ease-in-out-cubic-bezier, max-width .15s $--n-ease-in-out-cubic-bezier, background-color .3s $--n-ease-in-out-cubic-bezier;
        border-top-right-radius: 10.5px;
        border-bottom-right-radius: 10.5px;
      }
      background-color: $--anchor-link-background-color;
    }
    @include b(anchor-rail) {
      @include once {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        border-radius: 2px;
        transition: background-color .3s $--n-ease-in-out-cubic-bezier;
        overflow: hidden;
      }
      background-color: $--anchor-rail-background-color;
      @include e(bar) {
        @include once {
          position: absolute;
          left: 0;
          transition: top .15s $--n-ease-in-out-cubic-bezier, background-color .3s $--n-ease-in-out-cubic-bezier;
          width: 4px;
          height: 21px;
          background-color: transparent;
        }
        @include m(active) {
          background-color: $--n-primary-color;
        }
      }
      @include once {
        & + {
          @include b(anchor-link) {
            margin-top: 0;
          }
        }
      }
    }
    @include b(anchor-link) {
      @include once {
        margin-top: .5em;
        padding-left: 16px;
        position: relative;
        line-height: 1.5em;
        font-size: 13px;
        min-height: 1.5em;
        display: flex;
        flex-direction: column;
        & > {
          @include b(anchor-link) {
            padding-left: 16px;
          }
        }
      }
      @include e(title) {
        @include once {
          outline: none;
          max-width: 100%;
          text-decoration: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;
          display: inline-block;
          padding-right: 16px;
          transition: color .3s $--n-ease-in-out-cubic-bezier;
        }
        color: map-get($--anchor-link-title-text-color, 'default');
        &:hover, &:focus {
          color: map-get($--anchor-link-title-text-color, 'hover');
        }
        @include m(active) {
          color: map-get($--anchor-link-title-text-color, 'active');
        }
      }
    }
  }
}
