@import './fonts/Lato.scss';
@import './theme/default.scss';

body {
  margin: 0;
  font-family: $default-font-family;
  min-width: 1280px;
  background: $body-background-color;
  color: $primary-text-color;
}

a {
  color: $primary-text-color;
}

input {
  font-family: $default-font-family;
  font-size: inherit;
}