@import './fonts/Lato.scss';
@import './themes/vars.scss';
@import './Detachable.scss';


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  // font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
  margin: 0;
  font-family: $default-font-family;
  min-width: 1280px;
  background: $body-background-color;
  color: $primary-text-color;
}

a {
  color: $primary-text-color;
}

input {
  font-family: $default-font-family;
  font-size: inherit;
}

.n-detached-content-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: visible;
}

.n-detached-content {
  position: fixed;
}