@import './mixins/mixins.scss';
@import './themes/vars.scss';

@mixin base-select-size-mixin ($size) {
  @include m($size + '-size') {
    @include b(scrollbar-container) {
      max-height: map-get($map: $--n-height, $key: $size) * 7.6;
    }
    @include e(item, light-bar) {
      height: map-get($map: $--n-height, $key: $size);
      line-height: map-get($map: $--n-height, $key: $size);
      font-size: map-get($map: $--n-font-size, $key: $size);
    }
  }
}

@include themes-mixin {
  @include b(base-select-menu) {
    @include once {
      @include base-select-size-mixin("small");
      @include base-select-size-mixin("medium");
      @include base-select-size-mixin("large");
      outline: none;
      margin-top: 4px;
      margin-bottom: 4px;
      z-index: 0;
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      @include e(item-wrapper) {
        position: relative;
        width: 100%;
      }
      /** transition of menu light bar */
      .n-base-select-menu__light-bar--transition-enter-active {
        transition: opacity .15s $fast-in-cubic-bezier, top .3s $default-cubic-bezier!important;
      }
      .n-base-select-menu__light-bar--transition-leave-active {
        transition: opacity .15s $slow-out-cubic-bezier, top .3s $default-cubic-bezier!important;
      }
      .n-base-select-menu__light-bar--transition-enter, .n-base-select-menu__light-bar--transition-leave-to {
        opacity: 0;
      }
    }
    background-color: $--base-select-menu-background-color;
    box-shadow: $--base-select-menu-box-shadow;
    @include e(item) {
      cursor: pointer;
      position: relative;
      padding: 0px 14px;
      white-space: nowrap;
      color: map-get($map: $--base-select-menu-item-color, $key: "default");
      @include m(disabled) {
        color: map-get($map: $--base-select-menu-item-color, $key: "disabled");
        &::after {
          display: none;
        }
        @include m(selected) {
          color: rgba(99, 226, 183, .3)!important;
          &::after {
            border-right: 1px solid rgba(99, 226, 183, .3);
            border-bottom: 1px solid rgba(99, 226, 183, .3);
            display: block;
          }
        }
        cursor: not-allowed;
      }
      @include m(selected) {
        color: map-get($map: $--base-select-menu-item-color, $key: "selected");
      }
      @include m(no-data) {
        color: map-get($map: $--base-select-menu-item-color, $key: "disabled");
        text-align: center;
        pointer-events: none;
      }
      @include m(not-found) {
        color: map-get($map: $--base-select-menu-item-color, $key: "disabled");
        text-align: center;
        pointer-events: none;

      }
      @include m(loading) {
        color: map-get($map: $--base-select-menu-item-color, $key: "disabled");
        text-align: center;
        pointer-events: none;
      }
    }
    @include e(light-bar) {
      position: absolute;
      width:100%;
      background-color: $--base-select-menu-light-bar-background-color;
      top: 0;
      left: 0;
      transition: top .15s $default-cubic-bezier;
    }
    @include m(multiple) {
      @include e(item) {
        position: relative;
        transition: color .3s $default-cubic-bezier;
        padding-right: 28px;
        &::after {
          @include once {
            content: '';
            height: 6px;
            width: 3px;
            position: absolute;
            right: 14px;
            transform: rotate(45deg) scale(.5);
            top: calc(50% - 4px);
            opacity: 0;
            transition: transform .3s $default-cubic-bezier, opacity .3s $default-cubic-bezier;
          }
          border-right: 1px solid $--n-primary-color;
          border-bottom: 1px solid $--n-primary-color;
        }
        @include m(selected) {
          background: none;
          &::after {
            opacity: 1;
            transform: rotate(45deg) scale(1);
          }
        }
        &:active {
          color: $--n-primary-color;
        }
      }
    }
  }
}
