@import './fonts/Lato.scss';
@import './fonts/FiraCode.scss';
@import './themes/commonVars.scss';
@import './themes/light/index.scss';
@import './Detachable.scss';

@include setup-light-theme();

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  // font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
  margin: 0;
  font-family: $--n-font-family;
  min-width: 1280px;
}

a {
  color: $--primary-6;
}

input {
  font-family: $--n-font-family;
  font-size: inherit;
}

.n-detached-content-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: visible;
}

.n-detached-content-container.n-detached-content-container--absolute-positioned {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: visible;
}

.n-detached-content {
  position: fixed;
}