@import './mixins/mixins.scss';

@include b(checkbox) {
  & {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .n-checkbox__label {
    font-size: 13px;
    color: #63E2B7;
    margin-left: 6px;
  }
  .n-checkbox__checkbox {
    & {
      height: 14px;
      width: 14px;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 1px $checkbox-border-color;
      background-color: transparent;
      border-radius: 4px;
      position: relative;
      transition: box-shadow .3s $default-cubic-bezier, background-color .3s $default-cubic-bezier;
    }
    &:hover {
      box-shadow: inset 0 0 0 1px $checkbox-border-color--active;
    }
    &.is-checked {
      background-color: $checkbox-background--active;
    }
    &.n-checkbox__checkbox--disabled {
      cursor: not-allowed;
      background-color: rgba(255,255,255,.4);
      &:hover {
        box-shadow: none;
      }
      .n-checkbox-checkbox__inner {
        &::after {
          border: 1.5px solid rgba(255,255,255,.4);
          border-left: 0;
          border-top: 0;
        }
      }
    }
    .n-checkbox-checkbox__inner {
      &::after {
        box-sizing: content-box;
        content: "";
        border: 1.5px solid #5C647B;
        border-left: 0;
        border-top: 0;
        height: 8px;
        left: 5px;
        position: absolute;
        top: 1px;
        opacity: 0;
        transform: rotate(45deg) scale(.5);
        width: 3px;
        transform-origin: center;
        transition: transform .3s $default-cubic-bezier, opacity .3s $default-cubic-bezier;
      }
      &.is-checked::after {
        opacity: 1;
        transform: rotate(45deg) scale(1);
      }
    }
  }
}