@import './mixins/mixins.scss';
@import './themes/vars.scss';

@include b(collapse) {
  width: 100%;
}

@include b(collapse-item) {
  overflow: hidden;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 16px;
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border-bottom: none;
  }
  @include b(collapse-item) {
    margin-left: 18px;
  }
  &.n-collapse-item--active {
    .n-collapse-item__title {
      .n-icon {
        transform: rotate(90deg);
      }
    }
  }
  .n-collapse-item__title {
    position: relative;
    cursor: pointer;
    .n-icon {
      transition: transform .3s $default-cubic-bezier;
      font-size: 16px;
      position: absolute;
      left: -18px;
      bottom: 0;
    }
    color: rgba(233, 233, 236, 1);
    margin-left: 18px;
    margin-bottom: 16px;
  }
  .n-collapse-item__content-wrapper {
    @include fade-in-height-expand-transition($duration: .15s);
    overflow: hidden;
    // transition: max-height .3s $default-cubic-bezier;
  }
  .n-collapse-item__content-inner {
    color: rgba(233, 233, 236, .7);
    padding-bottom: 16px;
  }
}