@import './mixins/mixins.scss';

@include b(column-group) {
  & > .columns {
    display: flex;
    justify-content: space-between;
    & >.column {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
      flex-grow: 1;
    }
  }
}