@import './mixins/mixins.scss';
@import './themes/vars.scss';

@include themes-mixin {
  @include b(drawer) {
    @include slide-in-from-right-transition($duration: .3s);
    padding: 16px 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $--n-card-color;
    color: $--n-secondary-text-color;
    transition: background-color .3s $--n-ease-in-out-cubic-bezier, color .3s $--n-ease-in-out-cubic-bezier;
  }
}

@include b(drawer-overlay) {
  @include fade-in-transition(fade-in);
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@include b(drawer-container) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  pointer-events: all;
  @include m(active) {
    visibility: visible;
  }
}