@import './mixins/mixins.scss';
@import './themes/vars.scss';

@include b(form) {
  width: 100%;
  font-size: 14px;
  @include m(inline) {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    align-content: space-around;
    @include b(form-item) {
      width: auto;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include themes-mixin {
  @include b(form-item) {
    @include once {
      width: 100%;
      @include m(top-labelled) {
        margin-right: 18px;
        @include m(no-label) {
          padding-top: 24px;
        }
        @include b(form-item-label) {
          display: block;
          width: 100%;
          padding-bottom: 8px;
          padding-left: 2px;
        }
      }
      @include m(left-labelled) {
        display: flex;
        flex-wrap: nowrap;
        @include b(form-item-label) {
          line-height: 40px;
          box-sizing: border-box;
          padding-right: 12px;
          white-space: nowrap;
          height: 40px;
          flex-shrink: 0;
          flex-grow: 0;
        }
        @include b(form-item-control) {
          flex-grow: 1;
        }
      }
      @include m(has-feedback) {
        padding-bottom: 0px;
      }
      @include b(form-item-blank) {
        padding-top: 3px;
        padding-bottom: 3px;
        min-height: 34px;
        display: flex;
        align-items: center;
        position: relative;
      }
    }
    @include m(right-label-aligned) {
      @include b(form-item-label) {
        @include once {
          text-align: right;
          &::after {
            display: none;
          }
        }
        &::before {
          @include once {
            content: '* ';
          }
          color: $--error-6;
        }
      }
    }
    @include m(required) {
      @include b(form-item-label) {
        &::after {
          @include once {
            content: '*';
          }
          color: $--error-6;
        }
      }
    }
    @include b(form-item-label) {
      @include once {
        display: inline-block;
        height: 24px;
        box-sizing: border-box;
        font-size: 14px;
        transition: color .3s $--n-ease-in-out-cubic-bezier;
        &::after {
          transition: color .3s $--n-ease-in-out-cubic-bezier;
        }
      }
      color: $--n-text-color;
    }
    
    @include b(form-item-feedback-wrapper) {
      @include once {
        padding-left: 2px;
        padding-top: 0px;
        box-sizing: border-box;
        min-height: 20px;
        font-size: 14px;
        transform-origin: top left;
        line-height: 1.25;
        transition: color .3s $--n-ease-in-out-cubic-bezier;
        @include b(form-item-feedback) {
          @include fade-down-transition($from-offset: -3px);
        }
      }
      color: $--error-6;
    } 
  }
}
