@import './mixins/mixins.scss';
@import './themes/vars.scss';

@include b(gradient-text) {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  background: $default-text-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  &.n-gradient-text--default-type {
    background: $default-text-gradient;
    -webkit-background-clip: text;
    background-clip: text;
  }
  &.n-gradient-text--warning-type {
    background: $default-text-gradient-warning;
    -webkit-background-clip: text;
    background-clip: text;
  }
  &.n-gradient-text--danger-type {
    background: $default-text-gradient-danger;
    -webkit-background-clip: text;
    background-clip: text;
  }
  &.n-gradient-text--success-type {
    background: $default-text-gradient-success;
    -webkit-background-clip: text;
    background-clip: text;
  }
}