@import './mixins/mixins.scss';

@mixin gradient-text-type-mixin ($type) {
  @include m($type + '-type') {
    background-image: map-get($--gradient-text-background-image, $type);
  }
}

@include themes-mixin {
  @include b(gradient-text) {
    @include once {
      display: inline-block;
      font-weight: 500;
      font-size: inherit;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    @include gradient-text-type-mixin(default);
    @include gradient-text-type-mixin(success);
    @include gradient-text-type-mixin(warning);
    @include gradient-text-type-mixin(error);
    @include gradient-text-type-mixin(info);
  }
}
