@import './mixins/mixins.scss';
@import './theme/default.scss';

@include b(gradient-header) {
  & > .header {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    & > .content {
      background: $default-header-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}