@import './mixins/mixins.scss';
@import './themes/vars.scss';

@include b(row) {
  width: 100%;
  position: relative;
}

@mixin col-size-mixin ($span) {
  @include m($span + '-span') {
    width: percentage($number: 1 / 24 * $span);
  }
}

@include b(col) {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  @for $i from 1 through 24 {
    @include col-size-mixin($i);
  }
  &:first-child {
    padding-left: 0!important;
  }
  &:last-child {
    padding-right: 0!important;
  }
}