@import './mixins/mixins.scss';

@include b(icon) {
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  display: inline-block;
  position: relative;
  transition: $--icon-transition;
  svg {
    height: 1em;
    width: 1em;
  }
}
