@import './mixins/mixins.scss';

@include themes-mixin {
  @include b(log) {
    position: relative;
    font-family: 'FiraCode', monospace;
    font-size: 14px;
    color: $--n-secondary-text-color;
    box-sizing: border-box;
    transition: border-color .3s $default-cubic-bezier, color .3s $default-cubic-bezier;
    @include b(scrollbar) {
      @include b(scrollbar-content) {
        // padding-top: 8px;
        // padding-bottom: 8px;
        overflow: hidden;
      }
      @include b(scrollbar-rail) {
        // @include m(vertical) {
        //   top: 8px;
        //   bottom: 8px
        // }
      }
    }
    @include e(lines) {
      margin: 0;
      white-space: pre-wrap;
    }
    @include e(line) {
      margin: 0;
    }
    @include b(log-loader) {
      @include fade-in-width-expand-transition($duration: .3s, $delay: 0s);
      transition: color .3s $default-cubic-bezier, background-color .3s $default-cubic-bezier;
      box-sizing: border-box;
      border: 1px solid $--n-border-color;
      position: absolute;
      right: 16px;
      top: 8px;
      height: 34px;
      border-radius: 17px;
      color: $--n-secondary-text-color;
      background-color: $--n-dialog-color;
      line-height: 34px;
      /* stylelint-disable */
      font-family: 'Lato';
      /* stylelint-enable */
      white-space: nowrap;
      overflow: hidden;
      @include e(content) {
        display: inline-block;
        vertical-align: bottom;
        line-height: 34px;
        /* stylelint-disable */
        font-family: 'Lato';
        /* stylelint-enable */
        padding-left: 40px;
        padding-right: 20px;
        white-space: nowrap;
      }
      @include b(spin) {
        position: absolute;
        left: 12px;
        top: calc(50% - 10px);
        font-size: 20px;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
    }
  }
}
