@import './mixins/mixins.scss';

@include themes-mixin {
  @include b(log) {
    position: relative;
    font-family: 'FiraCode', monospace;
    font-size: 14px;
    color: $--n-secondary-text-color;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $--n-border-color;
    @include b(scrollbar-content) {
      overflow: hidden;
    }
    @include e(lines) {
      padding: 0 8px;
      margin: 0;
      white-space: pre-wrap;
    }
    @include e(line) {
      padding: 0 8px;
      margin: 0;
      &:first-child {
        margin-top: 8px;
      }
      &:last-child {
        margin-bottom: 8px;
      }
    }
    @include b(log-loader) {
      @include fade-in-width-expand-transition($duration: .3s, $delay: 0s);
      box-shadow: $--popover-box-shadow;
      position: absolute;
      right: 16px;
      top: 8px;
      height: 34px;
      border-radius: 17px;
      color: $--n-secondary-text-color;
      background-color: $--n-dialog-color;
      line-height: 34px;
      font-family: 'Lato';
      white-space: nowrap;
      overflow: hidden;
      @include e(content) {
        display: inline-block;
        vertical-align: bottom;
        line-height: 34px;
        font-family: 'Lato';
        padding-left: 40px;
        padding-right: 20px;
        white-space: nowrap;
      }
      @include b(spin) {
        position: absolute;
        left: 12px;
        top: calc(50% - 10px);
        font-size: 20px;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
    }
  }
}
