@import './mixins/mixins.scss';

.n-modal-content-inner--measure {
  transform: scale(1)!important;
}

@include themes-mixin {
  @include b(modal-content) {
    @include b(card) {
      background-color: $--n-dialog-color;
    }
    @include b(confirm) {
      width: 80vw;
    }
    & > .n-scrollbar {
      & > .n-scrollbar-container > .n-scrollbar-content {
        min-height: 100%;
        display: flex;
      }
    }
    &:not(.n-modal-content--active) {
      visibility: hidden;
    }
  }
}

.n-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  display: flex;
}

.n-modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
}

.n-modal-content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}

.n-modal-overlay--transition-enter-active {
  transition: background-color .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.n-modal-overlay--transition-leave-active {
  transition: background-color .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.n-modal-overlay--transition-enter, .n-modal-overlay--transition-leave-to {
  background-color: rgba(0, 0, 0, 0);
}

.n-modal-content--transition-enter-active {
  opacity: 1;
  transition: opacity .3s cubic-bezier(.4, 0, .2, 1), transform .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  transform: scale(1);
}

.n-modal-content--transition-leave-active {
  opacity: 1;
  transition: opacity .3s cubic-bezier(.4, 0, .2, 1), transform .3s cubic-bezier(0.4, 0.0, 1, 1);
  transform: scale(1);
}

.n-modal-content--transition-enter, .n-modal-content--transition-leave-to {
  opacity: 0;
  transform: scale(.5);
}