@import './mixins/mixins.scss';

@import './themes/vars.scss';

@include b(notification-container) {
  z-index: 4000;
  position: fixed;
  left: 0;
  right: 0;
  height: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include b(scrollbar-container) {
    height: -moz-fit-content !important;
    height: fit-content !important;
    max-height: 100vh !important;
    @include b(scrollbar-content) {
      padding-top: 12px;
    }
  }
}

@include themes-mixin {
  @include b(notification) {
    @include m(success-type) {
      @include e(avatar) {
        @include b(icon) {
          fill: $--success-6;
        }
      }
    }
    @include m(info-type) {
      @include e(avatar) {
        @include b(icon) {
          fill: $--info-6;
        }
      }
    }
    @include m(warning-type) {
      @include e(avatar) {
        @include b(icon) {
          fill: $--warning-6;
        }
      }
    }
    @include m(error-type) {
      @include e(avatar) {
        @include b(icon) {
          fill: $--error-6;
        }
      }
    }
    pointer-events: all;
    background: linear-gradient(
      225deg,
      $--notification-background-start-color 0%,
      $--notification-background-end-color 100%
    );
    color: $--notification-text-color;
    @include once {
      font-weight: 400;
      position: relative;
      display: flex;
      overflow: hidden;
      flex-shrink: 0;
      margin-bottom: 12px;
      margin-left: 12px;
      margin-right: 16px;
      padding-left: 16px;
      padding-right: 16px;
      max-height: 400px;
      width: 365px;
      border-radius: 6px;
      box-shadow:  0px 2px 12px 0px rgba(0, 0, 0, 0.18);
      box-sizing: border-box;
      opacity: 1;
      &-transition-enter, &-transition-leave-to {
        opacity: 0;
        margin-bottom: 0;
        transform: translateX(calc(100% + 16px));
      }
      &-transition-leave, &-transition-enter-to {
        opacity: 1;
        transform: translateX(0);
      }
      &-transition-enter-active, &-transition-leave-active {
        transition: opacity .3s $default-cubic-bezier,
        transform .3s $default-cubic-bezier,
        max-height .3s $default-cubic-bezier,
        margin-bottom .3s linear,
      }
    }
    @include m(no-avatar) {
      @include b(notification-main) {
        margin-left: 8px;
        width: calc(100% - 8px);
      }
    }
    @include e(close) {
      @include b(icon) {
        fill: $--notification-cell_deactive-color;
      }
      @include once {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 20px;
        cursor: pointer;
      }
    }
    @include e(avatar) {
      @include once {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 28px;
        height: 28px;
        font-size: 28px;
      }
    }
    @include b(notification-main) {
      @include once {
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        width: calc(100% - 40px);
        font-size: 14px;
      }
      @include once {
        @include b(notification-footer) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 8px;
        }
      }
      @include e(header) {
        color: $--notification-cell__header-color;
        font-weight: 700;
        font-size: 16px;
      }
      @include e(description) {
        margin-top: 8px;
        color: $--notification-cell__title-meta-color;
        font-size: 12px;
      }
      @include e(content) {
        margin: 12px 0 0 0;
        font-family: $default-font-family;
        color: $--notification-cell__content-color;
        white-space: pre-wrap;
      }
      @include b(notification-main-footer) {
        margin-top: 12px;
        @include e(meta) {
          color: $--notification-cell__title-meta-color;
          font-size: 12px;
        }
        @include e(action) {
          color: $--notification-cell__action-color;
          cursor: pointer;
        }
      }
    }
  }
}
