@import './mixins/mixins.scss';
@import './theme/default.scss';

@include b(popconfirm-content) {
  padding: 14px 16px;
  &.n-popconfirm-content--no-icon {
    .n-popconfirm-content__body {
      padding-left: 0;
    }
  }
  .n-popconfirm-content__body {
    font-size: 13px;
    white-space: nowrap;
    padding-left: 22px;
    position: relative;
    .n-icon {
      position: absolute;
      font-size: 18px;
      left: 0;
      top: -1px;
    }
  }
  .n-popconfirm-content__action {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
    .n-button:not(:last-child) {
      margin-right: 12px;
    }
  }
}