@import './mixins/mixins.scss';


@include b(popconfirm-content) {
  padding: 14px 16px;
  @include m(no-icon) {
    @include e(body) {
      padding-left: 0;
    }
  }
  @include e(body) {
    font-size: 13px;
    white-space: nowrap;
    padding-left: 22px;
    position: relative;
    @include b(icon) {
      position: absolute;
      font-size: 18px;
      left: 0;
      top: 0;
    }
  }
  @include e(action) {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
    @include b(button) {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}