@import "./mixins/mixins.scss";
@import "./theme/default.scss";
$popover-arrow-width: 7px;
$popover-bg-color: rgba(75, 81, 106, 1);
$popover-distance: $popover-arrow-width - 1 + 14;

.n-popover {
  display: inline-block;
  vertical-align: bottom;
  &__arrow {
    border-width: $popover-arrow-width;
    &,
    &:after {
      content: "";
      border-width: $popover-arrow-width;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }
  .n-popover__activator {
    position:relative;
    display:inline-block;
  }
  
}
.n-popover__content-container {
  height: 0;
  width: 0;
  position: fixed;
  z-index: 3;
  .n-popover__content-wrapper {
    
  }

  &[x-placement^="top"] .n-popover__arrow {
    bottom: 0%;
    left: 50%;
    border: 0;
  }
  &[x-placement^="top-start"] .n-popover__arrow {
    left: $popover-distance;
  }
  &[x-placement^="top-end"] .n-popover__arrow {
    right: $popover-distance;
    left: unset;
  }
  &[x-placement^="top"] .n-popover__arrow:after {
    content: " ";
    margin-left: -$popover-arrow-width;
    border-bottom-width: 0;
    border-top-width: $popover-arrow-width;
    border-top-color: $popover-bg-color;
  }
  &[x-placement^="right"] .n-popover__arrow {
    left: 0%;
    top: 50%;
    border: 0;
  }
  &[x-placement^="right-start"] .n-popover__arrow {
    top: 13px;
  }
  &[x-placement^="right-end"] .n-popover__arrow {
    bottom: 13px;
    top: unset;
  }
  &[x-placement^="right"] .n-popover__arrow:after {
    content: " ";
    left: -$popover-arrow-width;
    margin-top: -$popover-arrow-width;
    border-left-width: 0;
    border-right-width: $popover-arrow-width;
    border-right-color: $popover-bg-color;
  }
  &[x-placement^="bottom"] .n-popover__arrow {
    left: 50%;
    top: 0%;
    border: 0;
  }
  &[x-placement^="bottom-start"] .n-popover__arrow {
    left: $popover-distance;
  }
  &[x-placement^="bottom-end"] .n-popover__arrow {
    right: $popover-distance;
    left: unset;
  }
  &[x-placement^="bottom"] .n-popover__arrow:after {
    content: " ";
    top: -($popover-arrow-width);
    margin-left: -$popover-arrow-width;
    border-top-width: 0;
    border-bottom-width: $popover-arrow-width;
    border-bottom-color: $popover-bg-color;
  }
  &[x-placement^="left"] .n-popover__arrow {
    right: 0%;
    top: 50%;
    border: 0;
  }
  &[x-placement^="left-start"] .n-popover__arrow {
    top: 13px;
  }
  &[x-placement^="left-end"] .n-popover__arrow {
    bottom: 13px;
    top: unset;
  }
  &[x-placement^="left"] .n-popover__arrow:after {
    content: " ";
    top: 0;
    right: -($popover-arrow-width);
    margin-top: -$popover-arrow-width;
    border-right-width: 0;
    border-left-width: $popover-arrow-width;
    border-left-color: $popover-bg-color;
    bottom: $popover-arrow-width;
  }
  .n-popover__content {
    border-radius: 6px;
    background-color: rgba(75, 81, 106, 1);
    color: #ffffffe6;
    padding: 8px 14px;
    font-size: 12px;
    transition: opacity 3s $default-cubic-bezier,
      transform 3s $fast-in-cubic-bezier;
    opacity: 1;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.16);
    &.n-popover-fade-enter-active,
    &.n-popover-fade-leave-active {
      opacity: 1;
    }
    &.n-popover-fade-enter, &.n-popover-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }

  }
  .n-popover--word_wrap {
    white-space: pre-wrap;
    text-align: justify;
  }
}

.n-popover-fade-enter-active,
.n-popover-fade-leave-active {
}
.n-popover-fade-enter, .n-popover-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
