@import './mixins/mixins.scss';
@import './theme/default.scss';

@include b(select) {
  display: inline-block;
  border: none;
  outline: none;
  width: 100%;
  color: $select-text-color;
  font-family: $default-font-family;
  text-align: start;
  vertical-align: baseline;
  &:not(.n-select--multiple) {
    @include m(small-size) {
      line-height: 28px;
      height: 28px;
    }
    @include m(medium-size) {
      line-height: 34px;
      height: 34px;
    }
    @include m(large-size) {
      line-height: 40px;
      height: 40px;
    }
  }
  @include m(small-size) {
    font-size: 14px;
  }
  @include m(medium-size) {
    font-size: 14px;
  }
  @include m(large-size) {
    font-size: 15px;
  }
}

.n-select-detached-content-container {
  transform: translateZ(0);
}

@include b(select-menu) {
  @include fade-in-scale-up-transition(select-menu);
}