@import "./mixins/mixins.scss";

@include themes-mixin {
  @include b(thing) {
    display: flex;
    color: $--n-secondary-text-color;
    transition: color .3s $default-cubic-bezier;
    font-size: 14px;
    @include b(thing-avatar) {
      margin-right: 16px;
      margin-top: 2px;
    }
    @include b(thing-avatar-header-wrapper) {
      display: flex;
      flex-wrap: nowrap;
      @include b(thing-header-wrapper) {
        flex: 1;
      }
    }
    @include b(thing-main) {
      flex-grow: 1;
      @include b(thing-header) {
        display: flex;
        margin-bottom: 4px;
        @include e(title) {
          font-size: 16px;
          font-weight: 700;
          color: $--n-text-color;
          transition: color .3s $default-cubic-bezier;
        }
        @include e(extra) {

        }
        justify-content: space-between;
        align-items: center;
      }
      @include e(description) {
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
      @include e(content) {
        margin-top: 16px;
      }
      @include e(footer) {
        margin-top: 16px;
      }
      @include e(action) {
        margin-top: 16px;
      }
    }
  }
}
