@import "./mixins/mixins.scss";

@include themes-mixin {
  .#{block(tooltip)} {
    @include b(tooltip-content) {
      @include once {
        white-space: nowrap;
      }
      &.#{block(popover-content)} {
        @include once {
          padding: 8px 14px;
          border-radius: $--n-tooltip-border-radius;
        }
        box-shadow: $--tooltip-box-shadow;
        background-color: $--tooltip-background-color;
        color: $--tooltip-text-color;
        @include b(popover-arrow-wrapper) {
          @include b(popover-arrow) {
            background-color: $--tooltip-background-color;
          }
        }
      }
    }
  }
}
