# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main, feat, docs ]
  pull_request:
    branches: [ main, feat, docs ]

jobs:
  lint:
    environment: test

    runs-on: macos-14

    strategy:
      matrix:
        node-version: [18, 20]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - run: pnpm install

      - name: Lint
        run: pnpm run lint

  test:
    environment: test

    runs-on: macos-14

    strategy:
      matrix:
        node-version: [18, 20]
    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - run: pnpm install

      - name: Test
        run: pnpm run test:cov

      - name: Code coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}